<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="environment_toggle_configuration" translate="label">
            <group id="environment_toggle" translate="label">
                <field id="als_resync_remove_productoverrides_feed" translate="label" type="select"
                       sortOrder="900" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Tiger Team - B-2223587 - Update ALS "Resync" Option in Data Management Dashboard to Remove productoverrides Feed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
