<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fedex>
            <canva_design>
                <base_url/>
                <path/>
                <canva_logo/>
                <partner_id>fedex-test</partner_id>
                <partnership_sdk_url>https://sdk.canva.com/partnership.js</partnership_sdk_url>
                <user_token_api_url>https://api.test.office.fedex.com/partners/fedexoffice/v1/canva/usertokens</user_token_api_url>
                <tutorial_custom_url>https://office.fedex.com/tutorial</tutorial_custom_url>
                <tutorial_new_tab>1</tutorial_new_tab>
            </canva_design>
        </fedex>
        <sso>
            <canva_login>
                <title>Login to save your designs</title>
                <description>We’re working to create a better experience for you. FedEx Office profiles are being retired, but if you have an existing fedex.com shipping login, you can use it here by clicking on “LOG IN”. If not, please create a new ID.</description>
                <register_button_label>Create a user ID</register_button_label>
                <login_button_label>Log in</login_button_label>
                <continue_button_label>Continue as a guest</continue_button_label>
            </canva_login>
        </sso>
    </default>
</config>
