<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="environment_toggle_configuration" translate="label">
            <group id="environment_toggle" translate="label">
                <field id="tiger_d217133" translate="label" type="select" sortOrder="1502" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Tiger - D-217133 Hidden Custom Billing Fields are not passed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
