<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="environment_toggle_configuration" translate="label">
            <group id="environment_toggle" translate="label">
                <field id="enable_customer_friendly_cc_msg" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Enable Customer Friendly Cc Message</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="d200699_d200854" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Tiger - D-200699 INC028736294 : FedEx Office invoicing system is not receiving all custom billing field data from POD 2.0</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Also fix D-200854 INC028575867 : POD 2.0 Commercial - Custom Billing Fields populating inconsistently between order conﬁrmation and customer receipt.</comment>
                </field>
                <field id="enable_fixing_fxo_appears_in_company_name_for_shipping_flow" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Explorers - D-198113 : FXO Appears in Company Name for Shipping Flow</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tiger_d195387" translate="label" type="select" sortOrder="431" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Tiger - D-195387 Selfreg: Second custom billing filed data as PO Number when first custom billing field data as blank in checkout page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tiger_d209119" translate="label" type="select" sortOrder="432" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Tiger - D-209119 Order Confirmation - Issue when site level BCC email set</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
