<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="shippingestimator" frontName="estimate-shipping">
            <module name="Fedex_ShippingEstimator"/>
        </route>
    </router>
</config>