<?xml version="1.0"?>
 <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fedex>
            <general>
                <all_location_api_url>https://apitest.fedex.com/location/fedexoffice/v1/locations</all_location_api_url>
                <all_location_print_hub_api_url>https://api.test.office.fedex.com/location/fedexoffice/v2/search</all_location_print_hub_api_url>
            </general>
        </fedex>
    </default>
</config>