<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <notification_promocode>
            <notification_promocode_group>
                <active>1</active>
                <ground_shipping_method_code>GROUND_US</ground_shipping_method_code>
                <sub_total_value>100.00</sub_total_value>
                <promo_discount_value>9.99</promo_discount_value>
                <notificaiton_promocode_editor>Discounts cannot be combined for this purchase. To maximize savings, we've applied the discount with the greatest value.</notificaiton_promocode_editor>
            </notification_promocode_group>
        </notification_promocode>
    </default>
</config>
