<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ondemand_setting>
            <category_setting>
                <office_supplies_category_label>Office Supplies</office_supplies_category_label>
                <spm_supplies_category_label>Shipping &amp; Mailing Supplies</spm_supplies_category_label>
            </category_setting>
        </ondemand_setting>
    </default>
</config>
