<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Fedex\Import\Model\Source\ConfigInterface"
                type="Fedex\Import\Model\Source\Config"/>
    <preference for="Fedex\Import\Api\UrlKeyManagerInterface"
                type="Fedex\Import\Model\Import\Product\UrlKeyManager" />
</config>