<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
        <section id="cms">
            <group id="kaltura" translate="label" type="text" sortOrder="5000" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Kaltura</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Player Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="head_script" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Script Source</label>
                    <comment>Script code that will be included in all storefront pages HEAD tag</comment>
                </field>
                <field id="partner_id" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Partner ID</label>
                    <comment>Script code that will be included in all storefront pages HEAD tag</comment>
                </field>
                <field id="ui_config_id" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>UI Config ID</label>
                    <comment>Script code that will be included in all storefront pages HEAD tag</comment>
                </field>
            </group>
        </section>
	</system>
</config>
