<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Fedex_MarketplaceCheckout" setup_version="1.0.0">
        <sequence>
            <module name="Fedex_Cart"/>
            <module name="Fedex_MarketplaceProduct"/>
            <module name="Fedex_EnvironmentManager"/>
            <module name="Fedex_SubmitOrderSidebar"/>
            <module name="Fedex_Pay"/>
            <module name="Magento_Sales"/>
            <module name="Mirakl_Connector"/>
            <module name="Mirakl_Core"/>
            <module name="Fedex_MarketplaceToggle"/>
        </sequence>
    </module>
</config>
