.mazegeeks_ctc_admin_impersonator{
    .lac-notification-sticky {
        z-index: 850;
    }
    .lac-notification-sticky .lac-notification {
        background-color: #fff !important;
        color: #333333 !important;
        font-size: 16px;
        border-bottom: 1px solid #F7B118 !important;
        border-right: 1px solid #F7B118 !important;
        max-width: 100%;
        margin-top: 0px;
        box-shadow: 0 2px 4px 0 rgba(47, 64, 71, 0.3);
        
    }
    .lac-notification-sticky .top-container{
        margin-left: unset !important;
        margin-top: 0px !important;
    }
    .lac-notification-sticky .lac-notification .lac-notification-icon {
        float: left;
        margin: 0 !important;
        padding-bottom: 13px;
        padding-right: 11px;
        padding-left: 10px;
        background: #F7B118;
        margin-left: -17px !important;
        padding-top: 12px !important;
    }
    .lac-notification-icon.wrapper img.logo-img{
        width: 27px !important;
        height: 23px;
    }
    .lac-notification-text.wrapper {
        font-family: "FedEx Sans Bold";
        line-height: 24px;
        padding: 12px !important;
        font-size: 14px;
        padding-left: 16px !important;
        padding-right: 44px !important;
        text-align: left;
    }
}

@media only screen and (max-width: 767px){
    .mazegeeks_ctc_admin_impersonator{
        .lac-notification-sticky .lac-notification {
            width: 100%;
            margin: 0px auto;
            margin-top: 0px;
            padding: 0px 10px;
            padding-right: 0px;
            height: 120px;
        }
        .lac-notification-icon.wrapper img.logo-img{
            width: 27px !important;
            height: 23px;
            max-width: unset;
        }
        .lac-notification .lac-notification-icon {
            display: block !important;
        }
        .lac-notification-text.wrapper {
            font-size: 14px;
            line-height: 24px;
        }
        .lac-notification.clearfix .top-container {
            top: 0px !important;
            display: flex;
            align-items: center;
            margin: 0px !important;
            padding-right: unset !important;
        }
        .lac-notification-sticky .lac-notification .lac-notification-icon{
            margin-left: -26px !important;
            padding-top: 48px !important;
            display: flex !important;
            align-items: center;
            padding-bottom: 49px;
            padding-right: 11px;
            padding-left: 10px;
        }
    }
    .mazegeeks_ctc_admin_impersonator:has(.lac-notification) {
        .nav-sections {
            top:200px !important;
        }
        .page-header {
            .nav-toggle{
                &::after {
                    top:200px !important;
                }
            }
        }
    }
}
@media screen and (max-width: 1023.5px) and (min-width: 767.5px) {
    .mazegeeks_ctc_admin_impersonator{
        .lac-notification-sticky .lac-notification {
            width: 100%;
            margin: 0px auto;
            margin-top: 0px;
            padding: 0px 9px;
            padding-right: 0px;
            box-sizing: border-box;
            height: 72px;
        }
        .lac-notification-icon.wrapper img.logo-img {
            width: 27px !important;
            height: 23px;
            max-width: unset;
        }
        .lac-notification .lac-notification-icon {
            display: block !important;
        }
        .lac-notification-text.wrapper {
            font-size: 14px;
            padding-left: 16px !important;
            line-height: 24px;
        }
        .lac-notification.clearfix .top-container {
            top: 0px !important;
            display: flex;
            align-items: center;
            margin: 0px !important;
            padding-right: unset !important;
        }
        .lac-notification-sticky .lac-notification .lac-notification-icon{
            margin-left: -26px !important;
            padding-top: 25px !important;
            display: flex !important;
            align-items: center;
            padding-bottom: 24px;
            padding-right: 11px;
            padding-left: 10px;
        }
        .commercial-store-home.selfreg-store div.top-container[role="region"] {
            top: 0px !important;
        }
    }
    .mazegeeks_ctc_admin_impersonator:has(.lac-notification) {
        .nav-sections {
            top:145px !important;
        }
        .page-header {
            .nav-toggle{
                &::after {
                    top:145px !important;
                }
            }
        }
    }
}

@media screen and (max-width: 2000px) and (min-width: 1024px) {
    .mazegeeks_ctc_admin_impersonator{
        .lac-notification-sticky .lac-notification {
            border-top: 1px solid #F7B118 !important;
        }
    }
}
