<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="shipping-warning-message-container promo-warning" id="shipping-warning-message-box" role="dialog" aria-label="shipping-warning-fedex-number-discount" style="display: none;">
    <div class="shipping-warning-message-inner-box">
        <img data-bind="attr: {src: warningIconImgUrl(), alt: $t('Warning Icon')}" alt="Warning Icon"/>
    </div>
    <div class="warning-message-checkout">
        <p class="warning-message-content" data-bind="i18n: shippingAccountFedexNumberWarningMsg"></p>
    </div>
    <span class="warning-message-close-icon" role="button" aria-label="Close Warning" data-bind="click: closeWarningBox"></span>
</div>
