<?xml version="1.0" ?>
<!--
/**
 * @category     Fedex
 * @package      Fedex_InStorePayment
 * @copyright    Copyright (c) 2022 Fedex
 * @author       Tiago Hayashi Daniel <tdaniel@mcfadyen.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <instorepayment>
                <active>1</active>
                <payment_action>authorize_capture</payment_action>
                <model>InStoreFacade</model>
                <payment_action>authorize_capture</payment_action>
                <title>In-Store</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <can_use_checkout>0</can_use_checkout>
            </instorepayment>
        </payment>
    </default>
</config>
