<?xml version="1.0"?>
<!--
/**
 * @package    Fedex_SharedDetails
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="shared" frontName="shared">
            <module name="Fedex_SharedDetails" />
        </route>
    </router>
</config>