*
!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app
/app/code/Fedex/IframeSDK/view/frontend/web/js/environment.js
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
!/app/pub/favicon.ico
!/pub/media/order_receipt
/auth.json
!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/update
!/update/.htaccess
!/README.md
!/.github
!/.github/*
!/.github/workflows/*
!/init-docker.sh
!/post-init-docker.sh
!/sonar-project.template
!/Jenkinsfile
!/docker-compose.yml
!/pub/xmlsitemap
!/maintenance-pipeline.txt
!/branch-cleanup.py
!/redeploy-webhook.sh
!/auth.json.template
!/db_backup.sh
