{
    "http-basic": {
        "repo.magento.com": {
            "username": "${MAGENTO_USERNAME}",
            "password": "${MAGENTO_PASSWORD}"
        },
        "sdk-front-satis.mirakl.net": {
			"username": "${MIRAKL_USERNAME}",
			"password": "${MIRAKL_PASSWORD}"
		},
		"satis.mirakl.net": {
			"username": "${MIRAKL_USERNAME}",
			"password": "${MIRAKL_PASSWORD}"
		}
    }
}
