<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="fedex">
            <group id="general" translate="label" type="text"  showInDefault="1" showInWebsite="0" showInStore="0">
                <field id="all_location_api_url" translate="label" type="text" sortOrder="540" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>All Location Api Url</label>
                </field>
                <field id="all_location_print_hub_api_url" translate="label" type="text" sortOrder="541" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>All Location L6 Print Hub API Url</label>
                </field>
            </group>
        </section>
        <section id="environment_toggle_configuration" translate="label" sortOrder="1001" showInDefault="1" showInWebsite="0" showInStore="0">
            <group id="environment_toggle" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <field id="hawks_d_227849_performance_improvement_checkout_product_load" translate="label" type="select" sortOrder="1600" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Hawks - D-227849 - Performance improvement over Checkout Product Load</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
