<?xml version="1.0"?>
<!--
    /**
     * Copyright © FedEx, Inc. All rights reserved.
     * See COPYING.txt for license details.
     */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <stores>
        <notification_banner>
            <notification_banner_all_flow_group>
                <notification_banner_enabled>0</notification_banner_enabled>
            </notification_banner_all_flow_group>
        </notification_banner>
    </stores>
</config>