<?xml version="1.0"?>
<!--
/**
 * @category     Fedex
 * @package      Fedex_FuseBiddingQuote
 * @copyright    Copyright (c) 2025 Fedex
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fedex>
            <transactional_email>
                <fuse_quote_order_confirmation_email_enable>1</fuse_quote_order_confirmation_email_enable>
            </transactional_email>
        </fedex>
    </default>
</config>
