<?xml version="1.0" ?>
<!--
/**
 * @category    Fedex
 * @package     Fedex_Mars
 * @copyright   Copyright (c) 2023 Fedex
 * @author      Olimjon Akhmedov <olimjon.akhmedov.osv@fedex.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="fedex_mars_observer_checkout_submit_all_after"
                  instance="Fedex\Mars\Observer\Sales\OrderSaveAfter"/>
    </event>
    <event name="sales_order_save_after">
        <observer name="fedex_mars_observer_sales_order_save_after"
                  instance="Fedex\Mars\Observer\Sales\OrderSaveAfter"/>
    </event>
</config>
