<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<okta_mftf>
			<credentials>
				<grant_type>client_credentials</grant_type>
                <scope>oob</scope>
                <domain>purpleid-stage.oktapreview.com</domain>
                <authorization_server_id>aus185fzsf0R2HFHb0h8</authorization_server_id>
			</credentials>
		</okta_mftf>
	</default>
</config>
