<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fedex>
            <cloud_drive_integration>
                <enabled>0</enabled>
                <box_enabled>0</box_enabled>
                <dropbox_enabled>0</dropbox_enabled>
                <google_enabled>0</google_enabled>
                <microsoft_enabled>0</microsoft_enabled>
            </cloud_drive_integration>
        </fedex>
    </default>
</config>
