<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd"> 
    <type name="Magento\Framework\Data\Form\FormKey\Validator">
        <plugin name="force_txt_response" 
            type="Fedex\FedexCsp\Plugin\Form\FormKey\Validator"></plugin>
    </type>
</config>


