<?xml version="1.0"?>
<!--
 /**
 * Copyright © FedEx, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="fedex_pay_configprovider" xsi:type="object">Fedex\Pay\Model\PayConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="removeDiscountProcessor" xsi:type="object">Fedex\Pay\Model\Checkout\RemoveDiscountLayoutProcessor</item>
            </argument>
        </arguments>
    </type>
</config>
