<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="inBranchdata" xsi:type="string">Fedex\InBranch\CustomerData\InBranchSection</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Checkout\Controller\Cart\Add" type="Fedex\InBranch\Controller\Cart\Add" />
</config>
