//
//  Email variable overrides
//  _____________________________________________

//  This file should be used to set theme-specific variables for emails.
//  By default, emails will inherit variables from the Magento UI Library and the _theme.less and _variables.less files
//  in a custom theme. Use this file if you want to set specific variables for emails.
//  For example, you can make the email font, typography, colors, etc unique from the frontend theme.

//  Structure
@email-body__width: 612px;
@email-header__padding: @indent__s;
@email-body__padding: @indent__s;

//  Colors
@email__background-color: #fff;

//  Headings
@h1__font-size: ceil((@font-size__base * 1.25)); // 26px
@h1__font-weight: 700;
@h1__line-height: 24px;
@h3__font-weight: 700;

// Table
@table__border-color: #8E8E8E;