<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="storefront_features">
            <group id="website_configuration">
                <field id="environment_variable_control_feed_export" translate="label" type="select" sortOrder="999" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Enable Environment Variable to Control Feed Export</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>This conditionally controls the behavior of the Adobe Live Search product feed with the environment variable ADOBE_CATALOG_SERVICE_FEED (in cloud console) to prevent local development environment sync corruption of Adobe Live Search Data Spaces.</comment>
                </field>
            </group>
        </section>
        <section id="environment_toggle_configuration">
            <group id="environment_toggle">
                <field id="tiger_d200529" translate="label" type="select" sortOrder="1500" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Tiger Team - D-200529 Folder Level Permissions - Search</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
