<?xml version="1.0"?>
<!--
/**
 * @category    Fedex
 * @package     Fedex_InStoreConfigurations
 * @copyright   Copyright (c) 2023 Fedex
 * @author      Eduardo Oliveira
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Fedex_InStoreConfigurations">
        <sequence>
            <module name="Fedex_EnvironmentManager"/>
        </sequence>
    </module>
</config>
