<?xml version="1.0"?>
<!--
/**
 * Copyright © FedEx, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fedex>
            <cid_psg_configuration_group>
                <pega_account_create_api_url>https://api.test.office.fedex.com/customer/fedexoffice/v1/PSGAPI/createAccount</pega_account_create_api_url>
                <pega_retry_count>3</pega_retry_count>
                <support_team_email>FXO.L3.Support@corp.ds.fedex.com</support_team_email>
                <from_email>no-reply@fedex.com</from_email>
                <enable_log>1</enable_log>
                <authorized_user_email>AMS.AuthorizedUsers@fedex.com</authorized_user_email>
                <pa_agreement_email>mydiscount@fedex.com</pa_agreement_email>
                <email_retry_count>3</email_retry_count>
                <delete_authorized_excel_cron>* 1 * * *</delete_authorized_excel_cron>
                <confirmation_popup>Thank you for applying for a FedEx Office account. Your application will be processed within the next 2-3 business days. If you have any questions in the meantime, please contact us at 1.800.488.3705</confirmation_popup>
            </cid_psg_configuration_group>
        </fedex>
    </default>
</config>
