<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
     <menu>
       <add id="Fedex_SharedCatalogCustomization::system_convert_sync" title="Catalog Sync Grid" translate="title" module="Fedex_SharedCatalogCustomization" sortOrder="50"
            parent="Magento_Backend::system_convert" action="shared_catalog_customization/grid/index" resource="Fedex_SharedCatalogCustomization::catalog_sync_grid"/>
    </menu>
</config>
