<?xml version="1.0"?>
<!--
/**
 * Copyright © FedEx, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="environment_toggle_configuration">
            <group id="environment_toggle">
                <field id="d_184380_epro_customize_search_action_fix" translate="label" type="select" sortOrder="719" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Tiger Team - D-184380 - epro_Able to see Add to cart for custom docs in adobe live search</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>This fixes the import of Custom Docs inside a Company to set attribute Customize Search Action value correctly.</comment>
                </field>
                <field id="D_233466_cache_shared_catalog_group_ids" translate="label" type="select" sortOrder="2000" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Hawks Team - D-233466 - Cache the result of getSharedCatalogGroupIds/getGroupIdsNotInSharedCatalogs to avoid multiple calls</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>This fixes the number of queries to customer_group and shared_catalog tables.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
