<?xml version="1.0"?>
<!--
/**
 * Copyright © FedEx, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fedex>
            <upload_to_quote_config>      
                <quote_request_title>Continue with quote request?</quote_request_title>
                <quote_request_message>Projects with additional print instructions must be reviewed by a FedEx Office Team Member before your order can be submitted for production. You will receive a project quote within 24 hours.</quote_request_message>
                <standard_size_warning_message>We are unable to calculate price for nonstandard page sizes. On the next page please describe how your project should be printed and we will provide you quote within 24 hours.</standard_size_warning_message>
                <quote_submit_next_steps>1.A Fedex Office team member will review your request and will generate your quote within 24 hours. 2.You will receive an email notification that your quote is ready for review. To check status, Go to My Quotes. 3.Review and approve your quote to submit your order for prduction</quote_submit_next_steps>
                <decline_modal_title>Are you sure you want to decline this quote?</decline_modal_title>
                <decline_modal_message>If you decline, we will cancel this entire quote. If you'd like to keep certain products, you can remove unwanted items and check out instead.</decline_modal_message>
                <request_change_modal_message>Requesting a change for any item will send the entire quote back to a FedEx Office Team Member and may result in a new price. You will not be able to check out while it is under review.</request_change_modal_message>
                <request_change_cta_label>Request Change</request_change_cta_label>
                <request_change_cancel_cta_label>Cancel</request_change_cancel_cta_label>
                <request_change_undo_message>Your change request has been sent to a FedEx Office Team Member.</request_change_undo_message>
                <quote_why_can_not_edit_button>Editing is unavailable because this is a custom product.</quote_why_can_not_edit_button>
                <declined_undo_message>You have successfully declined this quote.</declined_undo_message>
                <delete_item_message>Upon removal, the price of your quote will be updated and this may affect your promotions and discounts.</delete_item_message>
                <delete_item_btn_cancel_label>Cancel</delete_item_btn_cancel_label>
                <delete_item_btn_submit_label>Delete Item</delete_item_btn_submit_label>
                <delete_item_undo_message>You deleted %project_name% and your quote has been repriced.</delete_item_undo_message>
                <location_search_api_url>https://api.test.office.fedex.com/location/fedexoffice/v2/search</location_search_api_url>
            </upload_to_quote_config>
        </fedex>
    </default>
</config>
