<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\NegotiableQuote\Model\Purged\Provider" type="Fedex\UploadToQuote\Model\Purged\Provider"/>
    <preference for="Magento\NegotiableQuote\Model\Validator\NegotiableStatusChange" type="Fedex\UploadToQuote\Model\Validator\NegotiableStatusChange"/>
    <preference for="Fedex\UploadToQuote\Api\ConfigInterface" type="Fedex\UploadToQuote\Model\Config"/>
    <preference for="Fedex\UploadToQuote\Api\NegotiableQuoteIntegrationInterface" type="Fedex\UploadToQuote\Model\NegotiableQuoteIntegration"/>
    <preference for="Magento\NegotiableQuote\ViewModel\Quote\Info" type="Fedex\UploadToQuote\ViewModel\Quote\Info"/>
</config>
