<?xml version="1.0"?>
<!--
/**
 * Copyright © FedEx, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <environment_toggle_configuration>
            <environment_toggle>
                <tigerteam_d178760_product_id_missing_property>0</tigerteam_d178760_product_id_missing_property>
            </environment_toggle>
        </environment_toggle_configuration>
        <expired_items_config>
            <general>
                <expiry_item_time>14</expiry_item_time>
                <expiry_item_time_type>days</expiry_item_time_type>
            </general>
            <cart_message>
                <cart_expiring_title>1 or more items will expire soon</cart_expiring_title>
                <cart_expiring_msg>Please finish desiging your product, remove the item,
or complete your transaction to avoid losing your item.</cart_expiring_msg>
                <cart_expired_title>1 or more items have expired</cart_expired_title>
                <cart_expired_msg>Please remove the expired item(s) or add it again to proceed to checkout.</cart_expired_msg>
            </cart_message>
            <cart_item_message>
                <cart_item_expiring_title>This item will expire soon.</cart_item_expiring_title>
                <cart_item_expiring_msg>This item will expire soon.</cart_item_expiring_msg>
                <cart_item_expired_title>This item has expired</cart_item_expired_title>
                <cart_item_expired_msg>This item was in your cart for more than 30 days and has expired. Please remove this item from your cart or add it again in order to proceed to checkout.</cart_item_expired_msg>
            </cart_item_message>
            <cart_item_message_3p>
                <cart_item_expiring_title>This item will expire soon.</cart_item_expiring_title>
                <cart_item_expiring_msg>Please finish desiging your product, remove the item, or complete your transaction to avoid losing your item.</cart_item_expiring_msg>
                <cart_item_expired_title>This item has expired</cart_item_expired_title>
                <cart_item_expired_msg>This item was in your cart has expired. Please remove this item from your cart or add it again in order to proceed to checkout.</cart_item_expired_msg>
            </cart_item_message_3p>
            <minicart_message>
                <minicart_expiring_msg>1 or more items in your cart will expire soon. please visit your cart to review the item(s).</minicart_expiring_msg>
                <minicart_expired_msg>1 or more items in your cart have expired. please review your full cart to check out.</minicart_expired_msg>
            </minicart_message>
            <popup_message>
                <popup_expiring_title>1 or more items will expire soon</popup_expiring_title>
                <popup_expiring_msg>Items in your cart will expire after 30 days. Upon expiring, all product customizations will be lost. Please visit your cart summary to review item(s).</popup_expiring_msg>
                <popup_expired_title>1 or more items have expired</popup_expired_title>
                <popup_expired_msg>Items in your cart expire after 30 days. Please visit your cart summary to review item(s).</popup_expired_msg>
            </popup_message>
            <upload_to_quote_cart_message>
                <upload_to_quote_cart_expiring_title>1 or more items will expire soon</upload_to_quote_cart_expiring_title>
                <upload_to_quote_cart_expiring_msg>Items in your cart will expire after 30 days. Upon expiring, all product customizations will be lost. Please visit your cart summary to review item(s).</upload_to_quote_cart_expiring_msg>
                <upload_to_quote_cart_expired_title>1 or more items have expired</upload_to_quote_cart_expired_title>
                <upload_to_quote_cart_expired_msg>Items in your cart expire after 30 days. Please visit your cart summary to review item(s).</upload_to_quote_cart_expired_msg>
            </upload_to_quote_cart_message>
            <upload_to_quote_item_message>
                <upload_to_quote_item_expiring_title>1 or more items will expire soon</upload_to_quote_item_expiring_title>
                <upload_to_quote_item_expiring_msg>Items in your cart will expire after 30 days. Upon expiring, all product customizations will be lost. Please visit your cart summary to review item(s).</upload_to_quote_item_expiring_msg>
                <upload_to_quote_item_expired_title>1 or more items have expired</upload_to_quote_item_expired_title>
                <upload_to_quote_item_expired_msg>Items in your cart expire after 30 days. Please visit your cart summary to review item(s).</upload_to_quote_item_expired_msg>
            </upload_to_quote_item_message>
        </expired_items_config>
    </default>
</config>
