<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Fedex\Base\Api\PriceEscaperInterface" type="Fedex\Base\Model\Escaper\Price"/>
    <preference for="Fedex\Base\Api\Data\CollectionInterface" type="Fedex\Base\Model\Data\Collection"/>
    <preference for="Fedex\Base\Api\Data\DataObjectInterface" type="Fedex\Base\Model\DataObject"/>
</config>
