<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
      <add id="Fedex_GraphqlDocs::graphqlschema" title="GraphQL Schema Browser" translate="title"
           module="Fedex_GraphqlDocs" parent="Magento_Backend::system_tools"
           sortOrder="40" action="graphiql/index/index" resource="Fedex_GraphqlDocs::graphqlschema"/>
    </menu>
</config>
