<?xml version="1.0"?>
<!--
/**
 * Copyright © FedEx, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Fedex_SelfReg::order_approver" title="Approver Group" translate="title" module="Fedex_SelfReg" sortOrder="40"
         parent="Magento_Customer::customer" action="orderapprover/index/index" resource="Magento_Customer::order_approver"/>
    </menu>
</config>
