<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="fedex">
            <group id="cloud_drive_integration" translate="label" type="text" sortOrder="1001" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cloud Drive Integration</label>
                <field id="enabled" type="select" translate="label" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show "Cloud Drive Integration Options" for File Upload</comment>
                </field>
                <field id="box_enabled" type="select" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Box Cloud Drive Integration Option</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show "Box Cloud Drive Integration Option" for File Upload</comment>
                </field>
                <field id="dropbox_enabled" type="select" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Dropbox Cloud Drive Integration Option</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show "Dropbox Cloud Drive Integration Option" for File Upload</comment>
                </field>
                <field id="google_enabled" type="select" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Google Cloud Drive Integration Option</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show "Google Cloud Drive Integration Option" for File Upload</comment>
                </field>
                <field id="microsoft_enabled" type="select" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Microsoft Cloud Drive Integration Option</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show "Microsoft Cloud Drive Integration Option" for File Upload</comment>
                </field>
            </group>
        </section>
    </system>
</config>
