<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fedex>
            <canva_link>
                <default_canva_link>https://wwwtest.fedex.com/apps/ondemand/print-online</default_canva_link>
            </canva_link>
        </fedex>
    </default>
</config>
