<?xml version="1.0"?>
<!--
/**
 * Default configuration values for SEO settings of the Order Tracking page.
 *
 * @category    Fedex
 * @package     Fedex_TrackOrder
 * @copyright   Copyright (c) 2023 Fedex
 * @author      sirichandana <sirichandana.guttha@fedex.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store/etc/config.xsd">
    <default>
        <seo_settings>
            <order_tracking>
                <metatitle>Tracking Your FedEx Office Print Order | FedEx Office</metatitle>
                <metadescription>Track your FedEx Office print order here. Track one or multiple orders by entering your order number to find out the status. Start tracking now!</metadescription>
                <track_order_header>Want to track a FedEx shipment or door tag instead?</track_order_header>
                <track_order_description>Exclude spaces when entering your 14-digit door tag. The search above is only for online FedEx Office print orders.</track_order_description>
                <track_shipment_url>https://wwwtest.fedex.com/en-us/tracking.html</track_shipment_url>
            </order_tracking>
        </seo_settings>
    </default>
</config>
