<!--
/**
 * Copyright © FedEx, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject Manual Order Status Required for Magento Support! @-->
<!--@vars {
"var orders":"orders"
} @-->
{{template config_path="design/email/header_template"}}
<p>Following Order status is not updated in Magento. Manual Update is required.</p>

<table aria-label="">
    {{layout handle="order_new_status" orders=$orders area="frontend"}}
</table>
{{template config_path="design/email/footer_template"}}
