<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="environment_toggle_configuration" translate="label" sortOrder="1001" showInDefault="1" showInWebsite="0" showInStore="0">
            <resource>Fedex_EnvironmentManager::environmentmanager_config</resource>
            <group id="environment_toggle" translate="label comment" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="tiger_tk_410245" translate="label comment" type="select" sortOrder="432" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tiger Team - E-410245 Enabling Marketplace (3p products/orders) for Commercial B2B (SelfReg) sites</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tiger_e_422180" translate="label comment" type="select" sortOrder="433" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tiger Team - E-422180 Integration to CBB - Add to POD 2.0 cart and Sample Pack Widget product setup</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tiger_d226848" translate="label" type="select" sortOrder="1010" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tiger - D-226848 Show 3P shipping address in admin when shipping method is pickup</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
