<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_generate_blocks_after">
        <observer name="hide_page_title_pdp_marketplace" instance="Fedex\MarketplaceProduct\Observer\HidePageTitle"/>
    </event>
</config>
