<?xml version="1.0"?>
 <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fedex>
            <general>
                <personal_addressbook_parties_api_url>https://apitest.fedex.com/contact/v2/parties</personal_addressbook_parties_api_url>
                <personal_addressbook_parties_list_api_url>https://apitest.fedex.com/contact/v3/partieslist</personal_addressbook_parties_list_api_url>
                <personal_addressbook_parties_delete_api_url>https://apitest.fedex.com/contact/v3/parties</personal_addressbook_parties_delete_api_url>
                <personal_addressbook_contacts_search>https://apitest.fedex.com/contact/v4/addressbooks/contacts/search</personal_addressbook_contacts_search>
            </general>
        </fedex>
    </default>
</config>
