<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fedex_shipping_estimator>
            <estimator>
                <delivery_reference>default</delivery_reference>
                <address_classification>Home</address_classification>
                <cheapest_delivery_lbl>Most Economical</cheapest_delivery_lbl>
                <fastest_delivery_lbl>Fastest</fastest_delivery_lbl>
            </estimator>
        </fedex_shipping_estimator>
    </default>
</config>