<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Fedex_ShippingEstimator">
        <sequence>
            <module name="Magento_Directory" />
            <module name="Magento_Directory" />
            <module name="Fedex_OKTA" />
            <module name="Fedex_Punchout" />
        </sequence>
    </module>
</config>
