<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sso>
            <general>
                <fcl_my_profile_url>https://www.fedex.com/profile/</fcl_my_profile_url>
                <contact_information_profile_url>https://wwwtest.fedex.com/profile/en-us/#/contact/edit</contact_information_profile_url>
                <fcl_logout_api>https://api.fedex.com/user/v3/logout</fcl_logout_api>
            </general>
            <login_session>
                <login_session_idle_timeout>3600</login_session_idle_timeout>
                <active_session_timeout>28800</active_session_timeout>
            </login_session>
            <session_general>
                <session_warning_time>300</session_warning_time>
                <session_warning_primary_message>Are you still there?</session_warning_primary_message>
                <session_warning_secondary_message>Your session is about to expire due to inactivity.</session_warning_secondary_message>
                <session_expired_primary_message>Your session has expired due to inactivity.</session_expired_primary_message>
                <session_expired_secondary_message>You've been directed to the home page.</session_expired_secondary_message>
            </session_general>
        </sso>
        <environment_toggle_configuration>
            <environment_toggle>
                <hawks_remove_duplicate_login_calls>1</hawks_remove_duplicate_login_calls>
                <d_201662_fix_return_type>1</d_201662_fix_return_type>
                <b_2260777_access_to_workspace>1</b_2260777_access_to_workspace>
            </environment_toggle>
        </environment_toggle_configuration>
        <my_account_menu_options>
            <my_design_templates>
                <enabled>0</enabled>
            </my_design_templates>
        </my_account_menu_options>
    </default>
</config>
