<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<orders_cleanup>
			<remove>
				<is_enabled>0</is_enabled>
				<loggedin_user_order_retention_days>390</loggedin_user_order_retention_days>
				<guest_user_order_retention_days>390</guest_user_order_retention_days>
				<terminate>15</terminate>
				<enable_logging>1</enable_logging>
			</remove>
		</orders_cleanup>
	</default>
</config>
