<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <recaptcha_frontend>
            <type_for>
                <checkout_cc/>
                <profile_cc/>
                <shared_cc/>
                <checkout_fedex_account/>
                <profile_fedex_account/>
            </type_for>
            <printful>
                <enabled>0</enabled>
                <score_threshold>0.7</score_threshold>
                <line_qty>1</line_qty>
            </printful>
        </recaptcha_frontend>
    </default>
</config>
