<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Fedex_Rate">
        <sequence>
            <module name="Magento_Catalog"/>
            <module name="Fedex_Punchout"/>
            <module name="Fedex_ProductEngine"/>
            <module name="Fedex_Base"/>
            <module name="Fedex_CoreApi"/>
        </sequence>
    </module>
</config>
