<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sales>
            <totals_sort>
                <tax_exempt>45</tax_exempt>
            </totals_sort>
        </sales>
        <web>
            <tax_exempt>
                <tax_exempt_title>Tax exemption</tax_exempt_title>
                <tax_exempt_body>FedEx Office manages tax exempt status by way of a FedEx Office account. To apply your tax exempt status to your online transaction, make sure to enter your FedEx Office account number during the checkout process.</tax_exempt_body>
                <tax_exempt_primary_cta><![CDATA[<a class="tax-modal-config" href="https://getrewards.fedex.com/us/en/office/printpreferred.html" target="_blank" rel="noopener">CREATE ACCOUNT</a>]]></tax_exempt_primary_cta>
                <tax_exempt_secondary_cta><![CDATA[<a class="tax-modal-config" href="https://www.office.fedex.com/default/faq.html" target="_blank" rel="noopener">READ FAQS</a>]]></tax_exempt_secondary_cta>
                <tax_exempt_footer_text><![CDATA[If you have a FedEx Office account and sales tax is being charged when it should not be charged, contact <a class="tax-modal-config" href="mailto: ams.taxattributes@fedex.com">ams.taxattributes@fedex.com</a>]]></tax_exempt_footer_text>
            </tax_exempt>
        </web>
    </default>
</config>
