<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <environment_toggle_configuration>
            <environment_toggle>
                <tigers_document_level_touting>0</tigers_document_level_touting>
            </environment_toggle>
        </environment_toggle_configuration>
    </default>
</config>
