@font-face {
    font-family: 'FedEx Sans Light';
    src: url('fonts/FedExSans-Light.eot');
    src: url('fonts/FedExSans-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/FedExSans-Light.woff2') format('woff2'),
        url('fonts/FedExSans-Light.woff') format('woff'),
        url('fonts/FedExSans-Light.ttf') format('truetype'),
        url('fonts/FedExSans-Light.svg#FedExSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@media screen and (max-width: 767px) {
    .to-improve-your-onli {
        height: 320px;
        width: 100%;
        color: #2F4047;
        font-family: "FedEx Sans Light";
        font-size: 18px;
        font-weight: 300;
        letter-spacing: -0.13px;
        line-height: 32px;
        text-align: center;
    }
    .scheduled-maintenanc {
        height: 82px;
        width: 100%;
        color: #2F4047;
        font-family: "FedEx Sans Light";
        font-size: 32px;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 32px;
        text-align: center;
    }
    img.fedex-logo {
        margin-top: 35px;
        margin-bottom: 13px;
    }
    .page-wrapper {
        width: 275px;
        margin: 0px auto;
    }
}
.center {
text-align:center;
}
@media screen and (min-width: 768px) {
.to-improve-your-onli {
    height: 160px;
    width: 525px;
    margin: auto;
    color: #2F4047;
    font-family: "FedEx Sans Light";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.13px;
    line-height: 32px;
    text-align: center;
}
.scheduled-maintenanc {
    height: 40px;
    width: 100%;
    color: #2F4047;
    font-family: "FedEx Sans Light";
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 40px;
    text-align: center;
}
img.fedex-logo {
    margin-top: 68px;
    margin-bottom: 30px;
}
}