<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fedex>
            <general>
                <sales_force_api_url>https://page.message.fedex.com/api-subscribe-fxo</sales_force_api_url>
            </general>
        </fedex>
        <promo>
            <marketing_opt_in>
                <enabled>0</enabled>
                <url_success_page>https://page.message.fedex.com/office_opt_in/office_opt_in</url_success_page>
            </marketing_opt_in>
        </promo>
        <environment_toggle_configuration>
            <environment_toggle>
                <hawks_d218499_customer_section_load_session_evict_unnecessary_calls>1</hawks_d218499_customer_section_load_session_evict_unnecessary_calls>
            </environment_toggle>
        </environment_toggle_configuration>
    </default>
</config>
