<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fedex>
            <workspace_project_setting>
                <delete_project_days_no>30</delete_project_days_no>
                <delete_project_cron_time>0 4 * * *</delete_project_cron_time>
            </workspace_project_setting>
            <general>
                <print_ready_api_url>https://api.test.office.fedex.com/document/fedexoffice/v2/printready</print_ready_api_url>
            </general>
        </fedex>
        <allprintproducts>
            <general>
                <retail_print_product_url>print-products-retail.html</retail_print_product_url>
                <commercial_print_product_url>b2b-print-products.html</commercial_print_product_url>
            </general>
        </allprintproducts>
    </default>
</config>

