<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Fedex\FXOCMConfigurator\Api\UserworkspaceRepositoryInterface" type="Fedex\FXOCMConfigurator\Model\UserworkspaceRepository"/>
	<preference for="Fedex\FXOCMConfigurator\Api\Data\UserworkspaceInterface" type="Fedex\FXOCMConfigurator\Model\Userworkspace"/>
	<preference for="Fedex\FXOCMConfigurator\Api\Data\UserworkspaceSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<preference for="Fedex\FXOCMConfigurator\Api\OrderRetationPeriodRepositoryInterface" type="Fedex\FXOCMConfigurator\Model\OrderRetationPeriodRepository"/>
	<preference for="Fedex\FXOCMConfigurator\Api\Data\OrderRetationPeriodInterface" type="Fedex\FXOCMConfigurator\Model\OrderRetationPeriod"/>
	<preference for="Fedex\FXOCMConfigurator\Api\Data\OrderRetationPeriodSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
</config>