<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Ui\Controller\Adminhtml\Export\GridToCsv">
        <plugin name="GridToCsvExportPlugin"
           type="Fedex\CustomerExportEmail\Plugin\Controller\Adminhtml\Export\GridToCsvPlugin"/>
    </type>
    <preference for="Fedex\CustomerExportEmail\Api\Data\ExportInfoInterface" type="Fedex\CustomerExportEmail\Model\Export\ExportInfo" />
</config>