<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="fedex">
            <group id="canva_link" translate="label" type="text" sortOrder="11" showInDefault="0" showInWebsite="0" showInStore="0">
                <label>Default Canva Link</label>
                <field id="default_canva_link" translate="label" type="text" sortOrder="1" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Canva Link</label>
                </field>
            </group>
        </section>
    </system>
</config>

