<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="dyesub_section" xsi:type="string">Fedex\CustomerCanvas\CustomerData\DyeSubSection</item>
            </argument>
        </arguments>
    </type>
    <type name="Fedex\CustomerCanvas\CustomerData\DyeSubSection">
        <arguments>
            <argument name="catalogSession" xsi:type="object">Magento\Catalog\Model\Session\Proxy</argument>
        </arguments>
    </type>
</config>
