<?xml version="1.0"?>
 <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fedex>
            <general>
                <shipping_address_api_url>https://apitest.fedex.com/address/v3/addresses/resolve</shipping_address_api_url>
            </general>
        </fedex>
        <environment_toggle_configuration>
            <environment_toggle>
                <hawks_d_206910_fix_infinite_loop>1</hawks_d_206910_fix_infinite_loop>
            </environment_toggle>
        </environment_toggle_configuration>
    </default>
</config>
