<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/config.xsd">
    <default>
        <performance>
            <cache_error_pages>
                <enable_page_404>1</enable_page_404>
                <lifetime_page_404>86400</lifetime_page_404>
            </cache_error_pages>
        </performance>
    </default>
</config>
