<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <allprintproducts>
            <general>
                <enabled>1</enabled>
                <heading>Explore All Print Products</heading>
                <sub_heading>View the wide range of customizable products you can print online, and get your project started today.</sub_heading>
                <retail_cms_block_identifier>all-print-products-special-products</retail_cms_block_identifier>
            </general>
        </allprintproducts>
    </default>
</config>
