<?xml version="1.0"?>
<!--
/**
 * @category Fedex
 * @package  Fedex_DisableCacheButton
 * @copyright   Copyright (c) 2024 FedEx
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Backend\Block\Cache" type="Fedex\DisableCacheButton\Block\Cache" />
</config>
