.order_summary_title {
	color: #2F4047;
	font-family: "FedEx Sans Light";
	font-size: 48px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 56px;
}

.order_outer_container {
	float: left;
	width: 100%;
	padding-top: 0px;
	margin-bottom: 32px;
}

.order_outer_container .title {
	color: #2F4047;
	font-family: "FedEx Sans Light";
	font-size: 32px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 40px;
}

.order_outer_container .order_no {
	color: #575757;
	font-family: "FedEx Sans Regular";
	font-size: 24px;
	letter-spacing: 0;
	line-height: 32px;
}

.order_outer_container .order_email {
	color: #2F4047;
	font-family: "FedEx Sans Bold";
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 24px;
}

.order_email_desc {
	color: #2F4047;
	font-family: "FedEx Sans Light";
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 24px;
}

.checkout-order-success {
	height: 48px;
	display: inline-block;
	float: left;
	width: 100%;
	/* background-color: #FF6200; */
}

.actions-toolbar {
	height: 48px;
	display: inline-block;
	float: left;
	width: 25%;
	/* background-color: #FF6200; */
}

.checkout-order-success .continue-shopping {
	color: #FFFFFF;
	font-family: "FedEx Sans Bold";
	font-size: 19px;
	font-weight: bold;
	letter-spacing: 1.19px;
	line-height: 24px;
	text-align: center;
	background-color: #FF6200;
}

.order-summary-step-info {
	width: 100%;
	margin-top: 2%;
}

.step-data-info {
	border: 1px solid #CED5D9;
	background-color: #FFFFFF;
}

.checkout-success.checkout-order-success {
	float: left;
	width: 100%;
	display: inline-block;
}

.primary.receipt-button {
	border: 2px solid #FF6200;
	background-color: #FFFFFF;
	width: 90%;
}

.action.primary.continue.receipt {
	display: block;
	width: 100%;
	border: none;
	background: #ffffff;
	margin: 0 auto;
	text-align: center;
	color: #FF6200;
	font-family: "FedEx Sans Bold";
	font-size: 19px;
	font-weight: bold;
	letter-spacing: 1.19px;
	line-height: 24px;
	text-align: center;
}

.step-data-info {
	border: 1px solid #CED5D9;
	background-color: #FFFFFF;
}

.order-cart-summary {
	float: left;
	width: 100%;
	margin-top: 4%;
}

.order-transaction-summary {
	float: right;
	width: 50%;
	margin-top: 0%;
}

.order-cart-summary .order-transaction-summary {
	color: #2F4047;
	font-family: "FedEx Sans Light";
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 32px;
}

.order-query {
	color: #2F4047;
	font-family: "FedEx Sans Bold";
	font-size: 24px;
	width: 50%;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 32px;
	float: left;
}

.title-summary {
	color: #2F4047;
	font-family: "FedEx Sans Light";
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 32px;
}

.info-title {
	color: #2F4047;
	font-family: "FedEx Sans Light";
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 32px;
	margin-left: 10%;
	margin-top: 8%;
}

.info-sub-title {
	color: #2F4047;
	font-family: "FedEx Sans Bold";
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 16px;
	margin-left: 10%;
	text-transform: uppercase;
}

.checkout-info {
	color: #2F4047;
	font-family: "FedEx Sans light";
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0;
	word-wrap: break-word;
	margin-left: 10%;
}

.credit-card-no {
	color: #6F7F87;
	font-family: "FedEx Sans Light Italic";
	font-size: 16px;
	font-style: italic;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 24px;
	margin-left: 10%;
}

.payment-title {
	color: #2F4047;
	font-family: "FedEx Sans light";
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 24px;
	margin-left: 10%;
}

.cart-table-info table {
	border-collapse: collapse;
	width: 100%;
}

.total-cart-count {
	float: right;
	width: 100%;
	display: inline-block;
	margin-top: 35px;
}

.total-cart-count-query {
	float: left;
	width: 100%;
	display: inline-block;
	margin-top: 45px;
}

.query-about-order {
	width: 63%;
	float: left;
	display: inline-block;
}

.order-details {
	float: right;
	width: 65%;
	display: inline-block;
	background-color: #F7F9FA;
}

.order-table .total-disc {
	border-top: 1px solid #CED5D9;
}

.cart-table>tbody>tr>th {
	color: #54646B;
	font-family: "FedEx Sans Bold";
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 24px;
	text-transform: uppercase;
}

.cart-table>tbody>tr td {
	color: #2F4047;
	font-family: "FedEx Sans Light";
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 32px;
}

.show-details-button{
	color: #0078B4;
	font-family: "FedEx Sans Regular";
	font-size: 14px;
	letter-spacing: 0.88px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
}
.details{
	font-size: 14px;
	font-family: 'Fedex Sans Regular';
	margin: 0;
}
.details-container{
	display: none;
}

.cart-table tbody>tr td {
	border-top: 1px solid #CED5D9;
	border-bottom: 1px solid #CED5D9;
}

.order-table table,
.order-table>tbody>tr th,
.order-table>tbody>tr td {
	border-collapse: collapse;
}

table.order-table>tbody tr th {
	color: #2F4047;
	font-family: "FedEx Sans Light";
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 24px;
}

table.order-table>tbody tr td {
	color: #2F4047;
	font-family: "FedEx Sans Bold" !important;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 24px;
	text-align: right;
}

.query-about-order .query-question {
	color: #2F4047;
	font-family: "FedEx Sans Regular" !important;
	font-size: 20px;
	letter-spacing: 0;
	line-height: 32px;
}

.query-about-order .query-link {
	color: #2F4047;
	font-family: "FedEx Sans Light";
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 24px;
}

.query-about-order .query-link>a {
	color: #0078B4;
	font-family: "FedEx Sans Light";
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 24px;
	text-decoration: underline;
}

.opc-order-confirmation-message-box .order-message-container {
	box-shadow: 0 2px 4px 0 rgba(47,64,71,.3);
	box-sizing: border-box;
	border: 1px solid #4D148C;
	background-color: #FFFFFF;
	margin-top: 3%;
	display: flex;
	float: left;
	width: 50%;
}

.order-confirmation-message-content {
	width: 100%;
	margin: 1.5rem auto;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.order-confirmation-message-text {
	color: #2F4047;
	font-family: "Roboto Regular";
	font-size: 14px;
	letter-spacing: 0;
	line-height: 24px;
	padding: 12px 16px;
}

.order-confirmation-message-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 6rem;
	font-size: 25px !important;
	-webkit-text-stroke: 2px white;
}

@media screen and (max-width: 1024px) {
	.order_outer_container.alignment-issue-fix a.action.primary.continue.receipt {
		line-height: 22px;
	}
	.order_outer_container.alignment-issue-fix .checkout-order-success .actions-toolbar > .primary .action {
		padding: 11px 19px !important;
	}
	.order_outer_container.alignment-issue-fix .actions-toolbar > .primary {
		height: auto;
	}
	.order_outer_container.alignment-issue-fix .checkout-success.checkout-order-success  .actions-toolbar {
		height: auto;
		display: table-cell;
    	width: 276px;
	}
	.order_outer_container.alignment-issue-fix .order-confirmation-message-text {
		padding: 0px 16px;
	}
	.order_outer_container.alignment-issue-fix
	.order-message-container > div.order-confirmation-message-icon:last-child {
		display: block;
		text-align: center;
		padding-top: 13px;
	}
	.order_outer_container.alignment-issue-fix  .opc-order-confirmation-message-box .order-message-container {
		margin-top: 31px;
    	width: 65%;
	}
	.order_outer_container.alignment-issue-fix
	.checkout-success.checkout-order-success
	div.actions-toolbar:first-child {
		width: 240px;
	}
	.order_outer_container.alignment-issue-fix .checkout-success.checkout-order-success {
		float: none;
		width: 100%;
		display: block;
		height: auto;
	}
	.action.primary.continue.receipt {
		font-size: 14px;
	}
	.checkout-order-success .actions-toolbar>.primary .continue-shopping {
		font-size: 14px;
	}
	.step-data-info {
		width: 31%;
		height: 390px;
	}
	.step-data-info:nth-child(2),
	.step-data-info:nth-child(3) {
		margin-left: 3%;
	}

	.opc-order-confirmation-message-box .order-message-container{
		margin-top: 3%;
		width: 60%;
	}
}

@media screen and (max-width: 1023px) {
	.order_outer_container.alignment-issue-fix .checkout-success.checkout-order-success  .actions-toolbar {
    	box-sizing: border-box;
		width: 50%;
	}
	.order_outer_container.alignment-issue-fix .order-confirmation-message-text {
		padding: 0px 16px;
	}
	.order_outer_container.alignment-issue-fix
	.opc-order-confirmation-message-box .order-message-container {
    	width: 100%;
	}
	.order_outer_container.alignment-issue-fix
	.checkout-success.checkout-order-success
	div.actions-toolbar:first-child {
		width: auto;
		padding-right: 8px;
	}
	.order_outer_container.alignment-issue-fix
	.checkout-success.checkout-order-success
	div.actions-toolbar:first-child > div{
		width: 100%;
	}
	.order_outer_container.alignment-issue-fix
	.checkout-success.checkout-order-success
	div.actions-toolbar:last-child {
		padding-left: 8px;
	}
}
@media screen and (max-width: 768px) {
	.checkout-order-success {
		width: 49%;
	}
	.actions-toolbar {
		width: 49%;
	}
	.primary.cont-btn {
		width: 100%;
	}
	.order_summary_title {
		font-size: 38px;
		margin-top: 0;
	}
	.order_outer_container .title {
		font-size: 28px;
		line-height: 30px;
	}
	.order_outer_container .order_no {
		font-size: 22px;
		line-height: 20px;
	}
	.action.primary.continue.receipt {
		font-size: 12px;
	}
	.order-transaction-summary {
		width: 38%;
	}
	.total-cart-count {
		width: 100%;
	}
	.order-details {
		width: 100%;
	}
	.total-cart-count-query {
		width: 100%;
	}
	.query-question .query-link .query-note {
		width: 100%;
	}
	.query-about-order {
		width: 100%;
	}
	.action.primary.continue.continue-shopping {
		font-size: 12px;
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}
	.step-data-info {
		width: 32%;
		height: 390px;
	}
	.step-data-info:nth-child(2),
	.step-data-info:nth-child(3) {
		margin-left: 1%;
	}
	.info-title {
		font-size: 20px;
	}
	.checkout-info {
		font-size: 14px;
	}
	.order-cart-summary {
		width: 60%;
	}
	.cart-table-info table {
		border-collapse: collapse;
		width: 100%;
	}
	.cart-table>tbody>tr td {
		font-size: 16px;
	}
	.query-about-order .query-question {
		font-size: 18px;
	}
	.query-about-order .query-link {
		font-size: 14px;
	}
	.query-about-order .query-link>a {
		font-size: 12px;
	}
	table.order-table>tbody tr th {
		font-size: 14px;
	}
	table.order-table>tbody tr td {
		font-size: 14px;
	}
	.checkout-success.checkout-order-success {
		width: 58%;
	}

	.opc-order-confirmation-message-box .order-message-container{
		margin-top: 3%;
		width: 75%;
	}
}
@media screen  and (max-width: 767px) {
	.order_outer_container.alignment-issue-fix .checkout-success.checkout-order-success  .actions-toolbar {
		width: 100%;
	}
	.order_outer_container.alignment-issue-fix
	.checkout-success.checkout-order-success
	div.actions-toolbar:first-child {
		width: 100%;
		padding-right: 0;
	}
	.order_outer_container.alignment-issue-fix
	.checkout-success.checkout-order-success
	div.actions-toolbar:first-child > div {
		box-sizing: border-box;
	}
	.order_outer_container.alignment-issue-fix
	.checkout-success.checkout-order-success
	div.actions-toolbar:last-child {
		padding-left: 0;
		margin-top: 15px;
	}
	.marketing_opt_in.mail-list {
		margin: 20px 0px 10px 0px;
	}
}

@media screen and (max-width: 425px) {
	.order_summary_title {
		font-size: 28px;
		margin-top: 5%;
	}
	.order_outer_container .title {
		font-size: 19px;
		line-height: 30px;
	}
	.order_outer_container .order_no {
		font-size: 18px;
	}
	.order_email_desc {
		font-size: 14px;
	}
	.checkout-success.checkout-order-success {
		width: 100%;
		display: inline-block;
	}
	.order_outer_container .order_email {
		font-size: 14px;
	}
	.actions-toolbar {
		width: 50%;
		height: auto;
		margin-top: 2%;
	}
	.step-data-info {
		width: 46%;
		height: auto;
		margin-top: 5%;
	}
	.order-cart-summary {
		font-size: 18px;
		width: 100%;
	}

	.order-transaction-summary .total-cart-count {
		font-size: 18px;
		width: 100%;
		margin-top: 8%;
	}

	.order-transaction-summary {
		width: 100%;
	}

	.order-query {
		width: 100%;
	}

	.total-cart-count-query {
		font-size: 14px;
		width: 100%;
		margin-top: 8%;
	}

	.cart-table-info table {
		border-collapse: collapse;
		width: 100%;
	}

	.title-summary {
		font-size: 18px;
	}
	.order-details {
		width: 100%;
	}
	.query-about-order {
		width: 100%;
	}
	.info-title {
		margin-left: 0;
		margin-top: 5%;
	}
	.info-sub-title {
		margin-left: 0;
		font-size: 11px;
	}
	.checkout-info {
		margin-left: 0;
	}
	.step-data-info:nth-child(2){
		width: 46%;
		margin-left: 2.8%;
	}
	.step-data-info:nth-child(3) {
		width: 100%;
		margin-left: 0;
	}
	.action.primary.continue.continue-shopping {
		width: 100%;
		font-size: 12px;
		padding-left: 0%;
		padding-right: 0%;
	}
	.primary.cont-btn {
		width: 100%;
	}
	.action.primary.continue.receipt {
		font-size: 12px;
	}
	.info-title {
		font-size: 18px;
	}
	.checkout-info {
		font-size: 13px;
	}
	.cart-table>tbody>tr>th {
		font-size: 9px;
	}
	.cart-table>tbody>tr td {
		font-size: 11px;
	}
	.cart-table>tbody>tr td span {
		font-size: 12px !important;
	}
	.query-about-order .query-link>a {
		font-size: 13px;
		line-height: 20px;
	}
	.order-summary-step-info {
		margin-top: 0%;
		width: 100%;
	}
	.query-about-order .query-link {
		font-size: 13px;
		line-height: 20px;
	}
	.query-about-order .query-question {
		font-size: 15px;
		line-height: 25px;
	}
	table.order-table>tbody tr th {
		font-size: 12px;
		line-height: 15px;
	}
	table.order-table>tbody tr td {
		font-size: 12px;
		line-height: 20px;
	}
	.payment-title {
		margin-left: 0;
		font-size: 13px;
	}
	.credit-card-no {
		font-size: 13px;
	}

	.opc-order-confirmation-message-box .order-message-container{
		margin-top: 10%;
		width: 100%;
		margin-bottom: 5;
	}
}

@media screen and (max-width: 375px) {
	.order_summary_title {
		font-size: 30px;
		margin-top: 5%;
	}
	.order_outer_container .title {
		font-size: 19px;
		line-height: 30px;
	}
	.order_outer_container .order_no {
		font-size: 20px;
	}
	.checkout-success.checkout-order-success {
		width: 100%;
	}
	.order_outer_container .order_email {
		font-size: 14px;
	}
	.checkout-order-success {
		width: 100%;
		height: 38px;
		height: auto;
		margin-top: 2%;
	}
	.actions-toolbar {
		width: 100%;
		height: 38px;
		height: auto;
		margin-top: 2%;
	}
	.step-data-info {
		width: 100%;
		height: auto;
		margin-top: 5%;
	}
	.order-cart-summary .order-transaction-summary {
		font-size: 18px;
	}
	.order-transaction-summary {
		width: 100%;
	}
	.order-transaction-summary .total-cart-count {
		font-size: 18px;
		width: 100%;
		margin-top: 8%;
	}
	.title-summary {
		font-size: 18px;
	}
	.order-details {
		width: 100%;
	}
	.query-about-order {
		width: 100%;
	}
	.info-title {
		margin-left: 8%;
		margin-top: 5%;
	}
	.info-sub-title {
		margin-left: 8%;
		font-size: 11px;
	}
	.step-data-info:nth-child(2),
	.step-data-info:nth-child(3) {
		width: 100%;
		margin-left: 0%;
	}
	.primary.continue.continue-shopping {
		width: 100%;
	}
	.primary.cont-btn {
		width: 100%;
	}
	.primary.receipt-button {
		width: 99%;
	}
	.action.primary.continue.receipt {
		font-size: 16px;
	}
	.info-title {
		margin-left: 8%;
		font-size: 18px;
	}
	.checkout-info {
		font-size: 13px;
	}
	.cart-table>tbody>tr>th {
		font-size: 9px;
	}
	.cart-table>tbody>tr td {
		font-size: 11px;
	}
	.cart-table>tbody>tr td span {
		font-size: 12px !important;
	}
	.query-about-order .query-link>a {
		font-size: 13px;
		line-height: 20px;
	}
	.order-summary-step-info {
		margin-top: 0%;
	}
	.query-about-order .query-link {
		font-size: 13px;
		line-height: 20px;
	}
	.query-about-order .query-question {
		font-size: 15px;
		line-height: 25px;
	}
	table.order-table>tbody tr th {
		font-size: 12px;
		line-height: 15px;
	}
	table.order-table>tbody tr td {
		font-size: 12px;
		line-height: 20px;
	}
	.payment-title {
		margin-left: 8%;
		font-size: 13px;
	}
	.credit-card-no {
		margin-left: 8%;
		font-size: 13px;
	}

	.order-query {
		width: 100%;
	}

	.action.primary.continue.continue-shopping {
		width: 100%;
		font-size: 16px;
		padding-left: 0%;
		padding-right: 0%;
	}

	.opc-order-confirmation-message-box .order-message-container{
		margin-top: 8%;
		width: 100%;
		margin-bottom: 5%;
	}
}

@media screen and (max-width: 320px) {
	.order_summary_title {
		font-size: 28px;
		margin-top: 5%;
	}
	.order_outer_container .title {
		font-size: 19px;
		line-height: 30px;
	}
	.order_outer_container .order_no {
		font-size: 20px;
	}
	.checkout-success.checkout-order-success {
		width: 100%;
	}
	.order_outer_container .order_email {
		font-size: 14px;
	}
	.checkout-order-success {
		width: 100%;
		height: 38px;
		height: auto;
		margin-top: 2%;
	}
	.actions-toolbar {
		width: 100%;
		height: 38px;
		height: auto;
		margin-top: 2%;
	}
	.step-data-info {
		width: 100%;
		height: auto;
		margin-left: 0%;
		margin-top: 5%;
	}
	.order-cart-summary .order-transaction-summary {
		font-size: 18px;
	}
	.order-transaction-summary {
		width: 100%;
	}
	.order-transaction-summary .total-cart-count {
		font-size: 18px;
		width: 100%;
		margin-top: 8%;
	}
	.title-summary {
		font-size: 18px;
	}
	.order-details {
		width: 100%;
	}

	.order-query {
		width: 100%;
	}

	.query-about-order {
		width: 100%;
	}
	.info-sub-title {
		font-size: 11px;
	}
	.step-data-info:nth-child(2),
	.step-data-info:nth-child(3) {
		width: 100%;
		margin-left: 0%;
	}
	.primary.continue.continue-shopping {
		width: 100%;
	}
	.primary.cont-btn {
		width: 100%;
	}
	.primary.receipt-button {
		width: 99%;
	}
	.action.primary.continue.receipt {
		font-size: 16px;
	}
	.info-title {
		margin-left: 8%;
		margin-top: 5%;
		font-size: 18px;
	}
	.checkout-info {
		font-size: 13px;
	}
	.cart-table>tbody>tr>th {
		font-size: 9px;
	}
	.cart-table>tbody>tr td {
		font-size: 11px;
	}
	.cart-table>tbody>tr td span {
		font-size: 12px !important;
	}
	.query-about-order .query-link>a {
		font-size: 13px;
		line-height: 20px;
	}
	.order-summary-step-info {
		margin-top: 0%;
	}
	.order-summary-step-info .step-data-info>* {
		padding-left: 3%;
	}
	.query-about-order .query-link {
		font-size: 13px;
		line-height: 20px;
	}
	.query-about-order .query-question {
		font-size: 15px;
		line-height: 25px;
	}
	table.order-table>tbody tr th {
		font-size: 12px;
		line-height: 15px;
	}
	table.order-table>tbody tr td {
		font-size: 12px;
		line-height: 20px;
	}
	.payment-title {
		margin-left: 8%;
		font-size: 13px;
	}
	.credit-card-no {
		margin-left: 8%;
		font-size: 13px;
	}

	.action.primary.continue.continue-shopping {
		width: 100%;
		font-size: 16px;
		padding-left: 0%;
		padding-right: 0%;
	}

	.opc-order-confirmation-message-box .order-message-container{
		margin-top: 8%;
		width: 100%;
		margin-bottom: 5%;
	}
}
.summary-details{
	background-color: #F7F9FA;
	margin-top: 0;
}

.info-sub-title-acount {
    color: #2F4047;
    font-family: "FedEx Sans Bold";
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 16px;
    margin-left: 10%;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 0;
}

.info-sub-title-ship {
    color: #2F4047;
    font-family: "FedEx Sans Bold";
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 0;
}

.ship-account-no {
    color: #6F7F87;
    font-family: "FedEx Sans Light Italic";
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
}

.including-additional-details td.additional-details-container {
	background-color: #f7f9fa;
	border-width: 0;
	padding: 0;
}
.including-additional-details .additional-details-container tr.selected-document-size td {
    border-top-width: 0;
	font-family: 'FedEx Sans Regular';
	font-size: 15px;
	padding: 10px 25px;
    text-transform: uppercase;
}
.including-additional-details table.product-line-details-table > tbody > tr > td {
    border-width: 0;
}
.including-additional-details .additional-details-container table.product-line-details-table > tbody > tr:last-child td {
    border-bottom-width: 1px;
	font-size: 14px;
	padding-bottom: 10px;
}
.including-additional-details table.product-line-details-table > tbody > tr:first-child td {
    border-bottom-width: 0px;
	font-size: 14px;
	padding-top: 0;
	font-family: "Fedex Sans Regular";
}
.including-additional-details table.additional-option-table thead > tr > th {
    font-size: 14px;
	padding-bottom: 0px;
    padding-left: 25px;
	padding-bottom: 0;
    text-transform: uppercase;
    font-family: 'FedEx Sans Regular';
    color: #6a7a81;
    font-weight: 100;
}
.including-additional-details table.additional-option-table tbody > tr td {
    border-width: 0;
	font-size: 14px;
    padding: 0 25px;
}
.including-additional-details table.product-line-details-table thead > tr > th {
    font-size: 14px;
    text-transform: uppercase;
	padding-bottom: 0;
	color: #6a7a81;
	font-weight: 100;
	font-family: 'FedEx Sans Regular';
}
.including-additional-details table.product-line-details-table thead > tr > th:first-child {
	width: 40%;
}
.including-additional-details .product-line-details-table {
	margin: 0 auto;
	table-layout: fixed;
	width: 98%;
}
.including-additional-details .hide-details-button-row .hide-details-button {
	color: #0078B4;
	font-family: 'FedEx Sans Medium';
	font-size: 14px;
	letter-spacing: 0.50px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	margin-left: 0;
	display: block;
	text-align: left !important;
	font-weight: normal;
}
.cart-table-info.including-additional-details .cart-table > tbody > tr > td:first-child,
.including-additional-details .cart-table-info .cart-table > tbody > tr > th:first-child {
  text-align: left;
}

.cart-table-info.including-additional-details .cart-table > tbody > tr > th, .cart-table-info.including-additional-details .cart-table > tbody > tr > td {
  text-align: right;
}


/* Css added by Ayush */
.including-additional-details .additional-details-container table.product-line-details-table > tbody > tr td:nth-child(2) {text-align: center;}

.cart-table-info.including-additional-details .cart-table > tbody > tr > th:first-child {
    text-align: left;
}
.cart-table-info.including-additional-details .cart-table > tbody > tr > td:nth-child(4) {
    padding-right: 20px;
}
.including-additional-details table.product-line-details-table thead > tr > th:nth-child(2) {
	text-align: center;
}
span.order-success.product-image-wrapper {
    height: 70px;
    width: 70px;
}

img.order-success.product-image-photo {
    height: 70px;
}
.item-description-img {
    display: flex;
}
p.product-name {
    margin-bottom: 0px;
    margin-top: 22px;
    padding-left: 15px;
    padding-bottom: 10px;
}
p.order-success-qty {
    margin-bottom: 0px;
    margin-top: 22px;
}

p.order-success-discount {
    margin-bottom: 0px;
    margin-top: 22px;
}

p.order-success-total {
    margin-top: 22px;
    margin-bottom: 0px;
}

.including-additional-details .additional-details-container table.product-line-details-table > tbody > tr td:nth-child(5) {
    padding-left: 10px;
}

.cart-table-info.including-additional-details .cart-table > tbody > tr.table-row-th > th:last-child {
	padding-right: 0px;
}
.including-additional-details .hide-details-button-row .hide-details-button {
	padding-bottom: 5px;
}
/* For Tab View */
@media screen and (min-width:426px) and (max-width:768px) {
	.order-transaction-summary {
		width: 38%;
		float: right;
	}
	.order-cart-summary{
		width: 100%;
	}
	.including-additional-details .additional-details-container table.product-line-details-table > tbody > tr td:nth-child(4) {
		padding-left: 35px;
		padding-right: 30px !important;
	}
}

/* For Mobile View */
@media screen and (max-width: 425px){
	.order_outer_container {
		padding-top: 0px;
	}
	.order_summary_title {
		font-size: 26px;
	}
	.cart-table>tbody>tr td {
		font-size: 12px !important;
	}
	.including-additional-details .additional-details-container table.product-line-details-table > tbody > tr td {
		text-align: right !important;
	}
	.including-additional-details .additional-details-container table.product-line-details-table > tbody > tr td:nth-child(4) {
		padding-right: 10px;
	}
	.including-additional-details .hide-details-button-row .hide-details-button {
		font-size: 13px;
	}
	.including-additional-details .show-details-button {
		margin-left: 0px !important;
		font-size: 9px;
	}
	.including-additional-details .additional-details-container table.product-line-details-table > tbody > tr td:nth-child(4):before {
		color: #354f58;
	}
	p.product-name {
		line-height: 15px;
		margin-top: 7px;
	}
	p.order-success-qty {
		margin-top: -1px;
	}

	p.order-success-discount {
		margin-top: -1px;
	}

	p.order-success-total {
		margin-top: -1px;
	}
	span.order-success.product-image-wrapper {
		height: 23px;
		width: 22px;
	}
	img.order-success.product-image-photo {
		height: 35px;
	}

}
/* Css ended by Ayush*/



.cart-table-info.including-additional-details .cart-table > tbody > tr.table-row-th > th:last-child,
.including-additional-details .cart-table-info .cart-table > tbody > tr.table-row > td:last-child {
  padding-right: 25px;
}
.including-additional-details .additional-details-container .product-line-details-table {
  width: 96%;
  margin: 0 auto;
}
.including-additional-details table.product-line-details-table > tbody > tr > td:first-child {
	padding-left: 0;
}
.including-additional-details table.product-line-details-table > tbody > tr td:last-child {
  text-align: right;
  padding-right: 0;
}
.including-additional-details table.product-line-details-table > tbody > tr td:nth-child(4) {
  text-align: center;
  color: #1d901d;
}
.including-additional-details table.product-line-details-table > tbody > tr td:nth-child(3) {
	text-align: center;
}
.including-additional-details table.product-line-details-table > tbody > tr td {
	border-top-width: 0 !important;
	padding: 0 10px;
	font-size: 14px;
	font-family: "Fedex Sans Regular";
}
.including-additional-details .show-details-button {
	position: relative;
}
.cart-table-info.including-additional-details .cart-table > tbody > tr.show-details-button > td .show-details-button-text {
	color: #0078B4;
    font-family: 'FedEx Sans Medium';
    font-size: 14px;
    letter-spacing: 0.50px;
    line-height: 24px;
}
.including-additional-details .show-details-button .fa.fa-angle-down {
	font-size: 21px;
    position: absolute;
    font-weight: 100 !important;
    color: #006bb4;
    padding-left: 5px;
	padding-top: 5px;
}
.including-additional-details .hide-details-button {
	position: relative;
	width: auto;
	float: left;
}
.including-additional-details .hide-details-button .fa.fa-angle-up{
	font-size: 21px;
	position: absolute;
	padding-left: 5px;
	font-weight: 100 !important;
}
.cart-table-info.including-additional-details .cart-table > tbody > tr > th:first-child {
	text-align: left !important;
}
.cart-table-info.including-additional-details .cart-table > tbody > tr.show-details-button > td {
	border-top: none;
	border-bottom: none;
	padding-top: 0;
    padding-bottom: 5px;
}
.cart-table-info.including-additional-details .cart-table tbody>tr.table-row td {
	border-bottom: none;
}
#order-summary .order_outer_container .order-cart-summary {
	border-bottom: 1px solid #CED5D9;
}
@media screen and  (max-width: 767px) {
	.cart-table-info.including-additional-details {
		border-top: 1px solid #CED5D9;
	}
	.cart-table-info.including-additional-details .cart-table > tbody > tr.table-row-th {
		display: none;
	}
	.cart-table-info.including-additional-details .cart-table > tbody > tr.table-row > td {
		position: relative;
		display: block;
	}
	.cart-table-info.including-additional-details .cart-table > tbody > tr.table-row > td:before {
		content: attr(data-th);
		text-align: left !important;
		position: absolute;
		left: 0px;
		white-space: nowrap;
	}
	.cart-table-info.including-additional-details .cart-table tbody>tr.table-row td {
        border-bottom: none;
		line-height: 7px;
	}
	.cart-table-info.including-additional-details .cart-table > tbody > tr.table-row > td {
        border-top: none;
		padding-left: 0px;
		padding-right: 0px;
		color: #54646B;
	}
	.cart-table-info.including-additional-details .cart-table > tbody > tr.table-row > td.qty {
        font-family: 'FedEx Sans Medium';
	}
	.cart-table-info.including-additional-details .cart-table > tbody > tr.table-row > td.discount {
        font-family: 'FedEx Sans Medium';
	}
	.cart-table-info.including-additional-details .cart-table > tbody > tr.table-row > td.total {
        font-family: 'FedEx Sans Medium';
	}
	.cart-table-info.including-additional-details .cart-table > tbody > tr.table-row > td:nth-child(4) {
		padding-right: 0px;
	}
	.cart-table-info.including-additional-details .cart-table > tbody > tr.show-details-button > td {
        border-top: none;
		border-bottom: none;
		line-height: 7px;
		padding-left: 0px;
        padding-top: 2px;
	}
	.cart-table-info.including-additional-details .cart-table > tbody > tr.show-details-button > td .show-details-button-text {
        font-family: 'FedEx Sans Medium';
	}
	.cart-table-info.including-additional-details .item-description-img p.product-name {
		line-height: 15px;
		margin-top: 15px;
		font-size: 18px;
	}
	.cart-table-info.including-additional-details .cart-table > tbody > tr.table-row > td:first-child {
        width: 100%;
		border-top: 1px solid #CED5D9;
	}
	#order-summary .order_outer_container .order-cart-summary {
		border-bottom: 1px solid #CED5D9;
	}
	span.order-success.product-image-wrapper {
		height: 115px !important;
		width: 115px !important;
	}
	img.order-success.product-image-photo {
		height: 115px !important;
        width: 115px !important;
	}
	.including-additional-details .additional-details-container table.product-line-details-table > tbody > tr td:before {
		content: attr(data-th);
		text-align: left !important;
		width: 45%;
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
	.including-additional-details .show-details-button .fa.fa-angle-down {
		font-size: 20px;
		position: absolute;
		right: auto;
		top: 0px;
		padding-left: 6px;
		padding-top: 1px;
		font-weight: 100 !important;
		color: #006bb4;
	}
	.including-additional-details table.product-line-details-table > tbody > tr td:nth-child(3) {
  		text-align: right;
	}
	.including-additional-details table.product-line-details-table, table.product-line-details-table tbody,
	.including-additional-details table.product-line-details-table tr,
	.including-additional-details table.product-line-details-table td {
		display: block;
	}
	.including-additional-details table.product-line-details-table > tbody > tr td {
		text-align: right;
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		border-bottom-width: 0 !important;
		padding-top: 5px;
		padding-bottom: 0 !important;
	}
	.including-additional-details .additional-details-container tr.selected-document-size td {
		font-size: 13px;
		padding: 0px 13px;
	}
	.including-additional-details .product-line-details-table thead {
  		display: none;
	}
	.including-additional-details table.product-line-details-table > tbody > tr:first-child > td:first-child:before {
		top: 0;
	}
	.including-additional-details table.product-line-details-table > tbody > tr:first-child > td:first-child {
		top: 10px;
	}
	.including-additional-details table.product-line-details-table > tbody > tr > td:last-child {
		padding-right: 10px;
	}
	.including-additional-details table.additional-option-table tbody > tr td {
		padding: 0 15px;
	}
	.including-additional-details table.additional-option-table thead > tr > th {
		padding-left: 15px;
		border-top: 1px solid lightgray;
	}
	.including-additional-details .additional-option-table {
		margin-top: 15px;
	}
}
.submitorder-index-ordersuccess #order-summary .title{
	margin-bottom: 0px;
}

@media screen and (min-width:1199px) {
	.selfreg-store .order_outer_container.marketplace-checkout-order-confirmation .checkout-order-success .receipt-button {
		padding-bottom: 0 !important;
	}
}

/* Adding CSS for Print Page in Order Confirmation */
@media print {
	.including-additional-details .additional-details-container table.product-line-details-table > tbody > tr td:nth-child(2) {
		text-align: end;
		padding-right: 25px;
	}
	.including-additional-details table.product-line-details-table > tbody > tr td:last-child {
		padding-right: 10px;
	  }
	.order_outer_container.marketplace-checkout-order-confirmation .order-cart-summary .cart-table .table-row .total p, .including-additional-details table.product-line-details-table thead > tr > th:nth-child(2), .including-additional-details table.product-line-details-table thead > tr > th {
		text-align: end !important;
	}
	.order_outer_container.marketplace-checkout-order-confirmation .order-cart-summary .cart-table-info table.cart-table > tbody table.product-line-details-table thead > tr > th.qty, .order_outer_container.marketplace-checkout-order-confirmation .order-cart-summary .cart-table-info table.cart-table > tbody table.product-line-details-table thead > tr th:nth-last-child(2) {
		text-align: center !important;
	}
	.order_outer_container.marketplace-checkout-order-confirmation .order-cart-summary .cart-table-info table.cart-table > tbody table.product-line-details-table thead > tr > th:first-child {
		text-align: start !important;
	}
	.checkout-success.checkout-order-success{
		display: none;
	}
	.opc-order-confirmation-message-box .order-message-container{
		margin-top: 0px;
		display: none;
	}
	.order-summary-step-info{
        margin-top: 0%;
    }
	tr.show-hide-content{
		display: contents !important;
	}
	.order-query.mobile,
	.show-details-button{
		display: none;
	}
	.cart-table .col:last-child p {
		text-align: right;
	}
}