.opc-payment .payment-group .actions-toolbar{
    display: none;
}
.submit-orderr {
    float: left;
    height: 56px;
    width: 100%;
    margin-left: 0%;
}
.submit-btn[disabled] {
    box-sizing: border-box;
    border: 1px solid #CCCCCC ;
    background-color: #EEEEEE ;
    box-shadow: inset 0 1px 0 0 #FFFFFF;
}
.submit-btn {
    float: left;
    width: 100%;
    height: 56px;
    background-color: #FF6200 !important;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: "FedEx Sans Bold";
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 1.19px;
    line-height: 24px;
    text-align: center;
    border: 1px solid #FF6200 !important;
}
.submit-btn .order-span {
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: "FedEx Sans Bold";
    font-size: 19px;
    font-weight: bold;
}
.terms-page-link {
    color: #1979C3;
    font-family: "FedEx Sans Regular";
    font-size: 14px;
    letter-spacing: 0;
}
.terms-text {
    font-family: "FedEx Sans Regular";
    font-size: 14px;
    letter-spacing: 0;
    text-align: left;
}
.opc-block-shipping-information {
    display: none;
}
.checkout-agreement {
    margin-left: 40px;
}

.checkout-agreements.fieldset {
    margin-bottom: 0px;
}
.agreement_choice{
    float: left;
    width: 100%;
    margin-left: 20px;
}
.action-show {
    float: left;
    width: 88%;
    display: inline-block;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    color: #2F4047;
    font-family: "FedEx Sans Regular";
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 300;
    margin-top: 2%;
}
.action-show:checked {
    box-shadow: none;
}
.action-show:hover, .action-show:visited, .action-show:focus {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}
.checkout-agreements>.checkout-agreement.required>.label:after
{
    display: none;
}
.submit-btn[disabled], .submit-btn:disabled {
    box-sizing: border-box;
    height: 57px;
    border: 1px solid #CCCCCC !important;
    background-color: #EEEEEE !important;
    box-shadow: inset 0 1px 0 0 #FFFFFF;
}
.checkout-agreement > input {
    height: 24px;
    width: 10%;
    float: left;
    display: inline-block;
}
.agreement_enable:not([disabled]):focus {
    box-shadow: none;
}
.checkout-agreement .action-show > span {
    display: block;
    color: #2F4047;
    font-family: "FedEx Sans Regular";
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 400;
    text-align: left;
}

/* xl screen */
@media screen and (max-width: 1024px){
    .agreement_choice {
        width: 100%;
        margin-left: 20px;
    }
    .checkout-agreement .action-show > span {
        font-size: 14px;
    }
    .submit-orderr {
        width: 85%;
        margin-left: 5%;
    }
}
/* large screen */
@media screen and (max-width: 768px){
    .agreement_choice  {
        width: 100%;
        margin-left: 10px;
    }

    .action-show {
        width: 86%;
        font-size: 13px;
        margin-top: 5%;
    }
    .submit-orderr {
        width: 90%;
        margin-left: 6%;
    }
    .checkout-agreement .action-show > span {
       font-size: 13px;
   }
}
/* medium screen */
@media screen and (max-width: 425px){
    .agreement_choice  {
        width: 90%;
        margin-left: 20px;
    }
    .submit-orderr {
        width: 80%;
        margin-left: 10%;
    }
    .checkout-agreement .action-show > span {
        font-size: 14px;
    }
    .action-show {
     margin-top: 2%;
 }
}
/* mobile screen small */
@media screen and (max-width: 375px){
    .agreement_choice {
        width: 90%;
    }
    .action-show {
        width: 86%;
        border: none;
        font-size: 11px;
        margin-top: 3%;
    }
    .submit-orderr {
        width: 80%;
        margin-left: 10%;
    }
    .checkout-agreement .action-show > span {
        font-size: 13px;
    }
}
/* mobile screen x-small*/
@media screen and (max-width: 320px){
    .agreement_choice  {
        width: 90%;
        margin-left: 20px;
    }
    .submit-orderr {
        width: 80%;
        margin-left: 10%;
    }
    .checkout-agreements.fieldset {
        width: 100%;
    }
    .action-show {
        width: 86%;
        border: none;
        font-size: 11px;
    }
    .checkout-agreement .action-show > span {
        font-size: 11px;
    }
    .submit-btn .order-span {
        font-size: 15px;
    }
}
.checkout-index-index .checkout-agreements .checkout-agreement.field.choice.required label button.action-show {
    margin-top: 3px !important;
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
    .checkout-agreement.field.choice .label {
        display: flex;
    }
    .terms-text {
        font-size: 16px !important;
        letter-spacing: 0.75px;
        line-height: 23px;
    }
    .terms-page-link {
        font-size: 16px;
    }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
    .checkout-agreement.field.choice .label {
        display: flex;
    }
    .terms-text {
        font-size: 16px !important;
        letter-spacing: 1.40px;
        line-height: 23px;
    }
    .terms-page-link {
        font-size: 16px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
    .checkout-agreement.field.choice .label {
        display: flex;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1365px) {
    .checkout-agreement > input {
        width: 6%;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1920px) {
    .checkout-agreement > input {
        height: 18px;
        width: 6%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1022px) {
    .checkout-agreement > input {
        width: 6%;
        height: 18px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1440px) {
    .terms-text {
        margin-top: 1px;
    }
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
    .terms-text {
        margin-top: 2px;
    }
}