<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="environment_toggle_configuration" translate="label" sortOrder="1001" showInDefault="1" showInWebsite="0" showInStore="0">
            <group id="environment_toggle" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <field id="tiger_D195777" translate="label" type="select" sortOrder="1000" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>TIGER - D-195777 - FUSE Search - Upload to Quote - 3p product data is corrupted with 1p data</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="hawks_d209598" translate="label" type="select" sortOrder="1000" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>HAWKS - D-209598 - Remove External Prod Unit Price When is 0</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="mazegeek_B2352379_discount_breakdown" translate="label" type="select" sortOrder="1000" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>MazeGeeks - B-2352379 - Checkout: Update Local Delivery Discount Designation in Discount Breakdown</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="mazegeek_D213295_quote_expired_details_issue_fix" translate="label" type="select" sortOrder="1000" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>MazeGeeks - D-213295 - Quote Details View Issue Fix for Expired Quote</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tiger_tk4437408" translate="label" type="select" sortOrder="1500" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Tiger - TK-4437408 - ePro catalog items not adding to cart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tiger_d238132" translate="label" type="select" sortOrder="1515" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Tiger - D-238132 - [HIGH] Quote checkout intermittently failing at during 1P+Product Bundle workflow</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
