<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <graphql_settings>
            <graphql_response_options>
                <lateorder_query_max_window_hours>1</lateorder_query_max_window_hours>
                <lateorder_query_max_pagination>100</lateorder_query_max_pagination>
                <lateorder_query_default_pagination>50</lateorder_query_default_pagination>
            </graphql_response_options>
        </graphql_settings>
    </default>
</config>
