<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Fedex_LateOrders_Query_LateOrders"
                 type="Fedex\LateOrdersGraphQl\Model\Resolver\LateOrders"/>
    <virtualType name="Fedex_LateOrders_Query_LateOrder"
                 type="Fedex\LateOrdersGraphQl\Model\Resolver\OrderDetailsById"/>
    <preference for="Fedex\LateOrdersGraphQl\Api\ConfigInterface" type="Fedex\LateOrdersGraphQl\Model\Config"/>
    <preference for="Fedex\LateOrdersGraphQl\Api\LateOrderRepositoryInterface" type="Fedex\LateOrdersGraphQl\Model\LateOrderRepository"/>
</config>
