<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="storefront_features">
            <group id="website_configuration">
                <field id="service_url" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Adobe Catalog Service URL</label>
                </field>
                <field id="enable_production_api_key_for_saas_service" translate="label" type="select" sortOrder="579" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Enable Production public API key</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="product_name_ellipsis_control" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Name Ellipsis Display Control</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Middle Ellipsis Function</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>This option will enable the display of an ellipsis in the middle of the Product Name.</comment>
                </field>
                <field id="total_characters" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                    <label>Total Character Length Ellipsis Trigger</label>
                    <comment>This option indicates the minimum total number of characters to trigger the ellipsis display.</comment>
                    <validate>required-entry validate-digits</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="start_characters" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="text">
                    <label>Start Character Position Ellipsis Display</label>
                    <comment>This option indicates the character position where the ellipsis will start.</comment>
                    <validate>required-entry validate-digits</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="end_characters" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="text">
                    <label>End Characters After Ellipsis Display</label>
                    <comment>This option indicates the end number of characters to display of the Product Name.</comment>
                    <validate>required-entry validate-digits</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="shared_catalog" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Shared Catalog</label>
                <field id="guest_catalog_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
                    <label>Retail Shared Catalog ID</label>
                    <validate>required-entry validate-digits</validate>
                </field>
            </group>
        </section>
        <section id="environment_toggle_configuration">
            <group id="environment_toggle">
                <field id="tiger_d203672" translate="label" type="select" sortOrder="440" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Tiger Team - D-203672 - Search Action Attribute Values Missing</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
