<?xml version="1.0"?>
<!--
/**
 * @category Fedex
 * @package  Fedex_HttpRequestTimeout
 * @copyright   Copyright (c) 2024 FedEx
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fedex_http_request_timeout>
            <timeouts>
                <enabled>1</enabled>
                <default_enabled>0</default_enabled>
                <default_timeout>120</default_timeout>
                <entries_list>{"https:\/\/sample.api.com\/v1":{"timeout":60},"https:\/\/sample.api.com\/v2":{"timeout":30}}</entries_list>
            </timeouts>
        </fedex_http_request_timeout>
    </default>
</config>
