<?xml version="1.0"?>
<!--
/**
 * Copyright © FedEx, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fedex>
            <b2b_order_approval_config>
                <order_success_toast_msg>This order is under review by an admin and will go into production upon approval.</order_success_toast_msg>
                <order_decline_toast_msg>You have successfully declined the order.</order_decline_toast_msg>
                <order_approve_toast_msg>Your order was approved and is now processing.</order_approve_toast_msg>
            </b2b_order_approval_config>
        </fedex>
    </default>
</config>
