<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="web">
            <group id="third_party_modal" sortOrder="911" showInWebsite="1" showInStore="1" showInDefault="1">
                <label>Third Party Legal Disclaimer Modal</label>
                <field id="third_party_modal_title" translate="label" type="editor" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Third Party Legal Disclaimer Modal Title</label>
                    <frontend_model>Fedex\Tax\Block\Adminhtml\System\Config\Editor</frontend_model>
                </field>
                <field id="third_party_modal_top_description" translate="label" type="editor" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Third Party Legal Disclaimer Modal Top Paragraph Description</label>
                    <frontend_model>Fedex\Tax\Block\Adminhtml\System\Config\Editor</frontend_model>
                </field>
                <field id="third_party_modal_bottom_description" translate="label" type="editor" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Third Party Legal Disclaimer Modal Bottom Paragraph Description</label>
                    <frontend_model>Fedex\Tax\Block\Adminhtml\System\Config\Editor</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
