<?xml version="1.0"?>
<!--
    /**
     * Copyright © FedEx, Inc. All rights reserved.
     * See COPYING.txt for license details.
     */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fedex>
            <recipient_email_address_limit>
                <set_recipient_email_address_limit>20</set_recipient_email_address_limit>
                <manage_user_email_address_limit>20</manage_user_email_address_limit>
                <custom_date_option>12</custom_date_option>
            </recipient_email_address_limit>
        </fedex>
    </default>
</config>
