<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <enhanced_profile_group>
            <shipping_account>
                <box_title_guest>Want to use a shipping account?</box_title_guest>
                <box_title_customer>Want to add a shipping account?</box_title_customer>
                <box_description_guest>Log in to access your existing shipping account or create a new one.</box_description_guest>
                <box_description_customer>There's no shipping account linked to your profile yet. Add one now to make shipping easier at checkout.</box_description_customer>
            </shipping_account>
        </enhanced_profile_group>
    </default>
</config>
