<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Fedex_CmsImportExport::cmscontents_export" title="Export CMS Contents" translate="title" module="Fedex_CmsImportExport" parent="Magento_Backend::system_convert" sortOrder="36"
            dependsOnModule="Fedex_CmsImportExport" action="importexportcms/cmsexport/index" resource="Fedex_CmsImportExport::cmscontents_export"/>
        <add id="Fedex_CmsImportExport::importcms" title="Import CMS Contents" translate="title" module="Fedex_CmsImportExport" sortOrder="38"
             parent="Magento_Backend::system_convert" action="importexportcms/index/import" resource="Fedex_CmsImportExport::importcms"/>
        <add id="Fedex_CmsImportExport::importcmscontent_images" title="Import CMS Content Images" translate="title" module="Fedex_CmsImportExport" sortOrder="39"
             parent="Magento_Backend::system_convert" action="importexportcms/image/import" resource="Fedex_CmsImportExport::importcmscontent_images"/>
    </menu>
</config>
