<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="AppearanceSourceProducts">
        <arguments>
            <argument name="optionsData">
                <item name="2" xsi:type="array">
                    <item name="value" xsi:type="string">simple-product-grid</item>
                    <item name="title" xsi:type="string" translate="true">Simple Product Grid</item>
                    <item name="icon" xsi:type="string">Fedex_PageBuilderExtensionProducts/css/images/content-type/products/appearance/simple-product-grid.svg</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
