<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_cmspage_on_delete">
        <observer name="updateBreadcrumbJson" instance="Fedex\Catalog\Observer\UpdateBreadcrumb" />
    </event>
    <event name="catalog_product_save_before">
        <observer name="fedex_catalog_product_save_before_observer" instance="Fedex\Catalog\Observer\ProductSaveBeforeObserver" />
    </event>
</config>
