<?xml version="1.0"?>
<!--
/**
 * @category  Fedex
 * @package   Fedex_AllPrintProducts
 * @copyright Copyright (c) 2023 Fedex.
 * @author    Pedro Basseto <pedro.basseto.osv@fedex.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="allprintproducts" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>All Print Products Page</label>
            <tab>fedex_configurations</tab>
            <resource>Fedex_AllPrintProducts::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="heading" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Heading</label>
                </field>
                <field id="sub_heading" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sub-heading</label>
                </field>
                <field id="retail_cms_block_identifier" translate="label" type="text" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Retail CMS Block Identifier</label>
                </field>
            </group>
        </section>
        <section id="environment_toggle_configuration" translate="label" sortOrder="1050" showInDefault="1" showInWebsite="0" showInStore="0">
            <group id="environment_toggle" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <field id="tiger_d458381_move_reference_store_to_category_for_product_listing_content" translate="label" type="select" sortOrder="440" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Tiger Team - E-458381 - Move Reference from Store to Category Configurations for Product Listing Content</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
