<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fedex>
            <one_p_product>
                <gallery><![CDATA[[
{"key":"allowfullscreen","value":"true"},
{"key":"navdir","value":"horizontal"},
{"key":"navarrows","value":"true"},
{"key":"navtype","value":"slides"},
{"key":"width","value":"600"},
{"key":"height","value":"600"},
{"key":"maxheight","value":"600"},
{"key":"maxwidth","value":"600"},
{"key":"thumbwidth","value":"140"},
{"key":"thumbheight","value":"140"}
]]]></gallery>
            </one_p_product>
            <in_store_product>
                <gallery><![CDATA[[
{"key":"allowfullscreen","value":"true"},
{"key":"navdir","value":"horizontal"},
{"key":"navarrows","value":"true"},
{"key":"navtype","value":"slides"},
{"key":"width","value":"600"},
{"key":"height","value":"600"},
{"key":"maxheight","value":"600"},
{"key":"maxwidth","value":"600"},
{"key":"thumbwidth","value":"140"},
{"key":"thumbheight","value":"140"}
]]]></gallery>
            </in_store_product>
            <wysiwyg_editor>
                <attribute_list><![CDATA[product_info,product_ideas]]></attribute_list>
                <toolbar_config><![CDATA[undo redo | styles | fontsize | lineheight | forecolor backcolor | bold italic underline | alignleft aligncenter alignright | numlist bullist ]]></toolbar_config>
                <valid_elements><![CDATA[strong,em,span[style=text-decoration: underline;],a[class:tax-modal-config|
                    href|title|target<_blank|rel<noopener]]]></valid_elements>
                <extended_valid_elements><![CDATA[h1,h2,h3,h4,h5,h6,li,@[style=list-style-type:circle?square;],ul]]></extended_valid_elements>
                <valid_styles><![CDATA[text-decoration,list-style-type]]></valid_styles>
            </wysiwyg_editor>
        </fedex>
    </default>
</config>
