[data-bind="scope: 'selfreg_company_form.selfreg_company_form'"] [data-index="company_admin"] {
    display: none;
}

/* Add pointer cursor to show more links in order approver listing */
.order-approver-listing .action-show-more,
.order-approver-listing .show-more-link,
.order-approver-listing .action-menu-item.show-more,
.order-approver-listing a.show-more,
.order-approver-grid .action-show-more,
.order-approver-grid .show-more-link,
.order-approver-grid a.show-more {
    cursor: pointer;
}