<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <db_cleanup_configuration>
            <cleaup_setting>
                <prev_month>14</prev_month>
            </cleaup_setting>
        </db_cleanup_configuration>
    </default>
</config>
