<?xml version="1.0"?>
<!--
/**
 * Copyright © FedEx, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Fedex\DbOptimization\Api\QuoteItemOptionsMessageInterface" type="Fedex\DbOptimization\Model\QuoteItemOptionsMessage" />
    <preference for="Fedex\DbOptimization\Api\SalesOrderItemMessageInterface" type="Fedex\DbOptimization\Model\SalesOrderItemMessage" />
    
    <preference for="Fedex\DbOptimization\Api\QuoteItemOptionsSubscriberInterface" type="Fedex\DbOptimization\Model\QuoteItemOptionsSubscriber" />
    <preference for="Fedex\DbOptimization\Api\SalesOrderItemSubscriberInterface" type="Fedex\DbOptimization\Model\SalesOrderItemSubscriber" />
</config>

