<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fedex>
            <search>
                <enabled>0</enabled>
            </search>
        </fedex>
        <performance>
            <optimization>
                <disable_query_tracking>0</disable_query_tracking>
            </optimization>
        </performance>
    </default>
</config>
