<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Framework\View\Page\Config">
		<plugin name="Fedex_WebAnalytics_Plugin_Frontend_Magento_Framework_View_Page_Config_ContentSquare" type="Fedex\WebAnalytics\Plugin\Frontend\AddScriptToHeaderContentSquare" sortOrder="10" disabled="false"/>
        <plugin name="Fedex_WebAnalytics_Plugin_Frontend_Magento_Framework_View_Page_Config_GDL" type="Fedex\WebAnalytics\Plugin\Frontend\AddScriptToHeaderAdobeAnalytics" sortOrder="11" disabled="false"/>
        <plugin name="Fedex_WebAnalytics_Plugin_Frontend_Magento_Framework_View_Page_Config_NewRelic" type="Fedex\WebAnalytics\Plugin\Frontend\AddScriptToHeaderNewRelic" sortOrder="12" disabled="false"/>
	</type>
</config>
