<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<fedex>
			<fedex_rate_quotes>
				<enable>0</enable>
				<prefix_shipping_method_name>FedEx</prefix_shipping_method_name>
			</fedex_rate_quotes>
			<fedex_freight_rate_quotes>
				<surcharge_text>Includes Freight Liftgate Fee</surcharge_text>
			</fedex_freight_rate_quotes>
		</fedex>
	</default>
</config>
