.special-instructions-list {
    margin-top: 15px;
}

.special-instruction-item {
    border: 1px solid #ddd;
    padding: 10px;
}

.instruction-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
}

.sku {
    font-size: 12px;
    color: #565656;
    margin-top: 2px;
}

.instruction-details {
    margin-top: 20px;
    margin-bottom: 20px;
}

.instruction-details.collapse {
    display: none;
}

.instruction-details.show {
    display: block;
}

.toggle-details {
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: #333;
}

button.toggle-details:hover {
    background-color: white;
}

button.toggle-details:focus {
    background-color: white;
}

.circle-arrow:before {
    content: '\e616';
    font-family: 'Admin Icons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.circle-arrow.expanded:before {
    content: '\e615';
}