.auth_rule.extrinsic .error_msg {
    height: 20px;
	color: #e22626;
}
/** Custom CSS */
.modal-popup .modal-inner-wrap {
    width: 50%;
}
.modal-footer{
    align-self: center;
    width:100%;
}
.list_container{
    
    position: relative;
}
.radio-label_name{
    margin-left: 11px;
}
.main-popup-title{
    text-align: center;
}
.popup_cancel{
    width:47%;
    float:left;
    background-color: white;
    border: groove;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px; 
    color: #eb5202;
}
.add_restricted_stores{

    width:47%;
    background-color: #0078B4;
    font-size: 22px;
    color: white;
}
.box-container{
    border: 1px solid #d3d3d3;
    padding: 2rem;
    letter-spacing: 1px;
}
.add_restricted_stores:hover {
    background:#0078B4;
    color: #FFFFFF;
    }
.add_restricted_stores:active:focus { 
    color: #0078B4;
    color: #FFFFFF;
    }
.add_restricted_stores:focus { 
    background: #0078B4;
    color: #FFFFFF;
    }
.shedule-container {
    display: flex;
    font-size: 1.5rem;
}
.hide-details-button {
    cursor: pointer;
    margin-top: 1rem;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0078B4;
    
}

.show-details-button {
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.88px;
    color: #0078B4;
}

.toggle-text {
    
    float: left;
    margin-right: 22px;
    margin-top: 2px;
    font-size :18px;
}
.center-details {
    margin-top: 2rem;
    margin-left: 4rem;
    
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 28px;
}
.toggle-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #008200;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.icon {
padding: 10px;
min-width: 40px;
}
.input-icons i {
position: absolute;
}
.icon {
    padding: 15px;
    min-width: 40px;
}
.zipcoderistricted {
    width: 60%;
    padding: 15px;
    height :40px;
    padding-left :20px;
}
.toggle-container{

    width: 30%;
    float: right;
    margin-top: 8px;
}

.is_restricted,.is_recommended_store{

    padding: 20px;
    background: #f7f9fa;
}
.radio-label_name{

    
    color: #2F4047;
    font-size: 18px;
}

input.chk {
    width: 20px;
    height: 19px;
        }
.custom-radio-btn input:checked ~ .chk {
    background-color: #4D148C;
    }
.pickup-location-street{

    margin-left: 5px;
    line-height: 3;
}
input[type="text"]
{
    font-size:18px;
}
.range-main{
    margin-left: 25px;
}
#errmsg{

    color:red;
}
.distance-map {
    position: absolute;
    right: 2rem;
    margin-top: 1rem;
    font-weight: bold;
}
.phone{
    padding-left: 5px;
}
.email{
    padding-left: 5px;
}
.hoo{
    padding-left: 5px;
}
.store-title{
    padding: 0 0 10px 0;
    font-size: 20px;
}
.production_location_html .production_location_main .is_restricted .list_container input[name="production-location-id"] + label,

.production_location_html .production_location_main .is_restricted .action-container .remove-locations-button,

.production_location_html .production_location_main .is_recommended_store .list_container input[name="production-location-id"] + label,

.production_location_html .production_location_main .is_recommended_store .action-container .remove-locations-button{

    display:none;
}
.production_location_html .production_location_main .is_restricted .location-header-outter,

.production_location_html .production_location_main .is_restricted .action-container,

.production_location_html .production_location_main .is_recommended_store .location-header-outter,

.production_location_html .production_location_main .is_recommended_store .action-container

{

    display: flex;
    justify-content: space-between;
}

.production_location_html .production_location_main .is_restricted .edit-location,

.production_location_html .production_location_main .is_recommended_store .edit-location

{

    border: 1px solid #000;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    background: #fff;
    color: #000;
    padding: 7px 20px;
}

.production_location_html .production_location_main .is_restricted .box-container,

.production_location_html .production_location_main .is_recommended_store .box-container{

    display: flex;
}

.production_location_html .production_location_main .is_restricted .list_container .checkbox-area input[name="production-location-id"] + label::before,

.production_location_html .production_location_main .is_recommended_store .list_container .checkbox-area input[name="production-location-id"] + label::before{

    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
}

.production_location_html .production_location_main .is_restricted .list_container .checkbox-area label::before,

.production_location_html .production_location_main .is_recommended_store .list_container .checkbox-area label::before

{

    content: "";
    position: absolute;
    left:9px;
    top:9px;
    width: 7px;
    height: 13px;
    border: solid #fff;
}

.production_location_html .production_location_main .is_restricted .list_container .checkbox-area label::after,

.production_location_html .production_location_main .is_recommended_store .list_container .checkbox-area label::after{

    content: "";
    height: 24px;
    width: 24px;
    background-color: #fff;
    left: 1px;
    position: absolute;
    top: 5px;
    border: 1px solid #6f7f87;
}

.production_location_html .production_location_main .is_restricted .list_container .checkbox-area,

.production_location_html .production_location_main .is_recommended_store .list_container .checkbox-area{

    position:relative;
}

.production_location_html .production_location_main .is_restricted .list_container .checkbox-area input[name="production-location-id"],

.production_location_html .production_location_main .is_recommended_store .list_container .checkbox-area input[name="production-location-id"]{

    display:none;
}

.production_location_html .production_location_main .is_restricted .list_container .checkbox-area input[name="production-location-id"]:not(:checked) + label::before,

.production_location_html .production_location_main .is_recommended_store .list_container .checkbox-area input[name="production-location-id"]:not(:checked) + label::before{

    border-width: 0;
}

.production_location_html .production_location_main .is_restricted .list_container .checkbox-area input[name="production-location-id"]:checked + label::after,

.production_location_html .production_location_main .is_recommended_store .list_container .checkbox-area input[name="production-location-id"]:checked + label::after

{

    background-color:#4d148c;
    border: 1px solid #4d148c;
}

.production_location_html .production_location_main .is_restricted .list_container input[name="production-location-id"] + label,

.production_location_html .production_location_main .is_recommended_store .list_container input[name="production-location-id"] + label{

    padding-left:25px;
}

.production_location_html .production_location_main .is_restricted .action-container button

.production_location_html .production_location_main .is_recommended_store .action-container button

{

    width:49%;
}

.production_location_html .production_location_main .is_restricted .action-container button.remove-locations-button,

.production_location_html .production_location_main .is_recommended_store .action-container button.remove-locations-button{

    background: #0078b4;
    color: #fff;
    border: 1px solid #0078b4;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
}

/* wysiwyg editor hide some tool style */
textarea#company_form_description + div div[role="group"] > div[role="toolbar"]:nth-child(6) {
    display: flex;
}
textarea#company_form_description + div div[role="group"] > div[role="toolbar"] {
    display: none;
}
div#buttonscompany_form_description {
    display: none;
}
