<?xml version="1.0"?>
<!--
/**
 * Copyright © FedEx, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <!-- B-1205796 : API integration for CC details and Billing details in Magento Admin -->
    <router id="admin">
        <route id="company" frontName="company">
            <module name="Fedex_Company"/>
        </route>
    </router>
</config>