<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="environment_toggle_configuration" translate="label" sortOrder="1001" showInDefault="1" showInWebsite="0" showInStore="0">
            <resource>Fedex_EnvironmentManager::environmentmanager_config</resource>
            <group id="environment_toggle" translate="label comment" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="e414712_hero_banner_carousel_for_commercial" translate="label" type="select" sortOrder="587" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Tiger Team - E-414712 - Hero Banner Carousel For Commercial</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="d173044_unable_to_change_the_admin_user_for_the_company" translate="label" type="select" sortOrder="587" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Tiger Team - D-173044 - Unable to change the admin user for the company</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="techtitans_208740_add_new_company" translate="label" type="select" sortOrder="588" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Tech Titans - D-208740 - Defect in add new company</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
