<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fedex>
            <three_p_product>
                <gallery><![CDATA[[
{"key":"allowfullscreen","value":"true"},
{"key":"navdir","value":"horizontal"},
{"key":"navtype","value":"thumbs"},
{"key":"maxheight","value":"600"},
{"key":"thumbwidth","value":"140"},
{"key":"thumbheight","value":"140"}
]]]></gallery>
            </three_p_product>
            <marketplace_configuration>
                <image_mapping_list>{"_1736171597256_256":{"mirakl_attribute":"mirakl_image_1","image_attribute":["image","small_image","thumbnail","swatch_image"],"exclude":"0"},"_1736178799687_687":{"mirakl_attribute":"mirakl_image_5","image_attribute":["product_info_image"],"exclude":"0"},"_1736178811352_352":{"mirakl_attribute":"mirakl_image_6","image_attribute":["product_info_image_mobile"],"exclude":"1"},"_1736178813770_770":{"mirakl_attribute":"mirakl_image_7","image_attribute":["product_ideas_image"],"exclude":"0"},"_1736178815921_921":{"mirakl_attribute":"mirakl_image_8","image_attribute":["product_ideas_image_mobile"],"exclude":"1"},"_1736178824594_594":{"mirakl_attribute":"mirakl_image_9","image_attribute":["shop_by_type_image"],"exclude":"1"},"_1736178826910_910":{"mirakl_attribute":"mirakl_image_10","image_attribute":["most_popular_image","product_recently_related_image"],"exclude":"1"}}</image_mapping_list>
            </marketplace_configuration>
        </fedex>
    </default>
</config>
