<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="fedex" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="fujitsu_receipt" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Fujitsu Receipt API URL</label>
                <field id="fujitsu_receipt_api_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API URL</label>
                </field>
            </group>
        </section>
    </system>
</config>
