.retail-home-banner-container {
    .pagebuilder-slider.retail-home-banner-section {
        margin-left: 56px;
        width: 92% !important;
        .pagebuilder-poster-content {
            margin-bottom: 0 !important;
            margin-left: 0 !important;
            margin-top: 0 !important;
            div {
                height: auto !important;
                min-height: auto !important;
                width: auto !important;
                p {
                    color: @hero-banner-poster-button-color;
                    font-family: @hero-banner-poster-content-font-family-light;
                    font-size: 31px !important;
                    height: auto !important;
                    letter-spacing: -.79px;
                    line-height: 37px !important;
                    margin-bottom: 12px;
                    min-height: 78px !important;
                    width: 422px !important;
                    span {
                        font-size: 31px !important;
                        height: auto !important;
                        letter-spacing: -.79px;
                        line-height: 37px !important;
                        margin-bottom: 12px;
                        max-width: 422px;
                        min-height: 78px !important;
                        width: auto !important;
                    }
                }
            }
            .pagebuilder-button-primary {
                background-color: @hero-banner-poster-button-background-color;
                border: none;
                border-radius: 0;
                color: @hero-banner-poster-button-color;
                font-family: @hero-banner-poster-content-font-family-bold;
                font-size: 19px;
                font-weight: bold;
                letter-spacing: 1.19px;
                line-height: 24px !important;
                min-width: 176px !important;
                padding: 14px 16px 13px 16px !important;
                text-align: center;
                text-transform: uppercase;
                width: auto !important;
            }
        }
        .slick-next {
            background: transparent;
            height: auto !important;
            margin-right: -77px;
            margin-top: -31px;
            min-height: 72px !important;
            min-width: 72px !important;
            width: auto !important;
            z-index: 1;
        }
        .slick-next:before {
            font-size: 69px;
            font-weight: bold;
            margin-right: -4px;
        }
        .slick-prev {
            background: transparent;
            height: auto !important;
            margin-left: -72px;
            margin-top: -31px;
            min-height: 72px !important;
            min-width: 72px !important;
            width: auto !important;
            z-index: 1;
        }
        .slick-prev:before {
            font-size: 69px;
            font-weight: bold;
            margin-left: -20px;
        }
        .slick-dots {
            padding: 0;
            .slick-active button {
                background-color: @hero-banner-active-slide-dot-color;
                height: 10px;
                width: 10px;
            }
            li {
                margin: 0 6px;
            }
            li button {
                background-color: @hero-banner-slide-inactive-dot-color;
                height: 10px;
                width: 10px;
            }
            li button:focus {
                box-shadow: 0 0 3px 1px @hero-banner-focus-color !important;
            }
        }
        button.slick-prev.slick-arrow:focus {
            box-shadow: 0 0 3px 1px @hero-banner-focus-color !important;
        }
        button.slick-next.slick-arrow:focus {
            box-shadow: 0 0 3px 1px @hero-banner-focus-color !important;
        }
        .pagebuilder-overlay.pagebuilder-poster-overlay {
            padding: 34px 31px 23px;
        }
        .pagebuilder-slide-wrapper {
            margin-bottom: 11px !important;
        }
    }
}
//  CSS for hero banner image for 768 breakpoint for Retail
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .retail-home-banner-container {
        .pagebuilder-slider.retail-home-banner-section {
            margin-bottom: 0 !important;
            margin-left: auto !important;
            margin-right: auto !important;
            margin-top: -21px !important;
            width: 81% !important;
            .pagebuilder-poster-content {
                div {
                    p {
                        min-height: 111px !important;
                        padding-right: 157px;
                        width: 242px !important;
                    }
                }
            }
            .slick-next {
                height: auto;
                margin-right: -88px;
                min-height: 63px;
                min-width: 63px;
                width: auto;
            }
            .slick-prev {
                height: auto;
                margin-left: -85px;
                min-height: 63px;
                min-width: 63px;
                width: auto;
            }
            .pagebuilder-overlay.pagebuilder-poster-overlay {
                padding: 26px 29px 20px;
            }
            .pagebuilder-slide-wrapper {
                min-height: 220px !important;
            }
        }
    }
}
//  CSS for hero banner image for 1200 breakpoint for Retail
@media only screen and (min-width: 1200px) and (max-width: 1439px) {
    .retail-home-banner-container {
        .pagebuilder-slider.retail-home-banner-section {
            margin-bottom: 0 !important;
            margin-left: auto !important;
            margin-right: auto !important;
            width: 86% !important;
            .pagebuilder-poster-content {
                div {
                    p {
                        margin-bottom: 20px !important;
                        min-height: 70px !important;
                        width: 381px !important;
                    }
                }
            }
            .slick-next {
                margin-right: -88px;
                margin-top: -24px;
            }
            .slick-prev {
                margin-left: -88px;
                margin-top: -24px;
            }
            .pagebuilder-overlay.pagebuilder-poster-overlay {
                padding: 22px 49px 24px;
            }
            .pagebuilder-slide-wrapper {
                margin-bottom: 15px !important;
            }
        }
    }
}
//  CSS for hero banner image for 320 breakpoint for Retail
@media only screen and (min-width: 320px) and (max-width: 767px) {
    body#html-body .retail-home-banner-container .pagebuilder-slider.retail-home-banner-section {
        height: auto !important;
        margin-bottom: 39px !important;
        margin-left: 0 !important;
        margin-top: -14px !important;
    }
    .retail-home-banner-container {
        .pagebuilder-slider.retail-home-banner-section {
            max-width: 100% !important;
            width: auto !important;
            .mobile-hero-banner-poster-content {
                display: block !important;
                p, h1 {
                    color: @hero-banner-poster-content-text-color;
                    font-family: @hero-banner-poster-content-font-family-light;
                    font-size: 31px !important;
                    font-weight: 300;
                    height: auto !important;
                    letter-spacing: -.79px !important;
                    line-height: 37px !important;
                    margin-bottom: 11px !important;
                    margin-top: 2px !important;
                    padding-left: 12px;
                    padding-right: 65px;
                    width: 244px !important;
                    span {
                        color: @hero-banner-poster-content-text-color;
                        font-size: 31px !important;
                    }
                }
                .mobile-pagebuilder-slide-button {
                    background-color: @hero-banner-poster-button-background-color;
                    border: none;
                    border-radius: 0;
                    color: @hero-banner-poster-button-color;
                    font-family: @hero-banner-poster-content-font-family-bold;
                    font-size: 19px;
                    font-weight: bold;
                    letter-spacing: 1.19px;
                    line-height: 24px !important;
                    margin-bottom: 0 !important;
                    margin-left: 12px;
                    margin-right: 0 !important;
                    min-height: 48px;
                    min-width: 176px !important;
                    padding: 14px 16px 13px 16px !important;
                    text-align: center;
                    text-transform: uppercase;
                    width: auto !important;
                }
            }
            .pagebuilder-slide-wrapper {
                height: 272px;
                margin-bottom: 16px !important;
                .pagebuilder-poster-content {
                    display: none !important;
                }
            }
            .slick-next {
                display: none !important;
            }
            .slick-prev {
                display: none !important;
            }
            .slick-dots {
                padding: 30px 0 0 0;
            }
        }
    }
}
.retail-home-banner-container {
    .pagebuilder-slider.retail-home-banner-section {
        .pagebuilder-slide-wrapper {
            background-size: 100% 100% !important;
        }
        .slick-prev {
            margin-top: -14px !important;
        }
        .slick-next {
            margin-top: -14px !important;
        }
    }
}