<?xml version="1.0"?>
<!--
    This module is intended to extend magento/module-catalog-search components
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Fedex_CatalogSearch" setup_version="1.0.0">
        <sequence>
            <module name="Magento_CatalogSearch"/>
        </sequence>
    </module>
</config>
