<?xml version="1.0"?>
<!--
/**
 * @category     Fedex
 * @package      Fedex_MarketplaceCustomer
 * @copyright    Copyright (c) 2024 Fedex
 * @author       Niket Kanoi <niket.kanoi.osv@fedex.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <environment_toggle_configuration>
            <environment_toggle>
                <tiger_e_422180>0</tiger_e_422180>
            </environment_toggle>
        </environment_toggle_configuration>
    </default>
</config>
