<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Fedex_MarketplaceAdmin">
        <sequence>
            <module name="Fedex_Purchaseorder"/>
            <module name="Fedex_SubmitOrderSidebar"/>
            <module name="Magento_Sales"/>
        </sequence>
    </module>
</config>
