<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sales">
            <group id="totals_sort">
                <field id="tax_exempt" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Tax Exempt</label>
                    <validate>required-number validate-number</validate>
                </field>
            </group>
        </section>
        <section id="web">
            <group id="tax_exempt" translate="label" sortOrder="910" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Tax Exempt Modal</label>
                <field id="tax_exempt_title" translate="label" type="editor" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tax Exempt Modal Title</label>
                    <frontend_model>Fedex\Tax\Block\Adminhtml\System\Config\Editor</frontend_model>
                </field>
                <field id="tax_exempt_body" translate="label" type="editor" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tax Exempt Body Text</label>
                    <frontend_model>Fedex\Tax\Block\Adminhtml\System\Config\Editor</frontend_model>
                </field>
                <field id="tax_exempt_primary_cta" translate="label" type="editor" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tax Exempt Primary CTA</label>
                    <frontend_model>Fedex\Tax\Block\Adminhtml\System\Config\Editor</frontend_model>
                </field>
                <field id="tax_exempt_secondary_cta" translate="label" type="editor" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tax Exempt Secondary CTA</label>
                    <frontend_model>Fedex\Tax\Block\Adminhtml\System\Config\Editor</frontend_model>
                </field>
                <field id="tax_exempt_footer_text" translate="label" type="editor" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tax Exempt Footer Text</label>
                    <frontend_model>Fedex\Tax\Block\Adminhtml\System\Config\Editor</frontend_model>
                </field>
			</group>
        </section>
    </system>
</config>
