<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fedex>
            <political_disclosure_config>
                <states_enabled>
                    <item>WA</item>
                </states_enabled>
            </political_disclosure_config>
        </fedex>
    </default>
</config>
