<?xml version="1.0"?>
<!--
/**
 * @category     Fedex
 * @package      Fedex_CartGraphQl
 * @copyright    Copyright (c) 2022 Fedex
 * @author       Tiago Hayashi Daniel <tdaniel@mcfadyen.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Fedex_CartGraphQl">
        <sequence>
            <module name="Magento_Quote"/>
            <module name="Fedex_Cart"/>
        </sequence>
    </module>
</config>
