<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fedex>
            <product_error_message_setting>
                <unavailable_items_generic_message>
                    <unavailable_items_generic_message_title>Currently Unavailable</unavailable_items_generic_message_title>
                    <unavailable_items_generic_error_message>We’re sorry, this product is currently unavailable. Please check back later. </unavailable_items_generic_error_message>
                </unavailable_items_generic_message>
                <unavailable_items_cart_line_generic_message>
                    <unavailable_items_cart_line_generic_message_title>Currently Unavailable</unavailable_items_cart_line_generic_message_title>
                    <unavailable_items_cart_line_generic_error_message>We’re sorry, this product is currently unavailable. Please remove it from the cart to continue.</unavailable_items_cart_line_generic_error_message>
                </unavailable_items_cart_line_generic_message>
            </product_error_message_setting>
        </fedex>
    </default>
</config>
