<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_postdispatch_company_index_save">
    	<observer name="cache_flush" instance="Fedex\CacheFlush\Observer\CacheFlush" shared="false" />
	</event>
</config>
