<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <stores>
        <default>
            <customer>
                <create_account>
                    <confirm>0</confirm>
                </create_account>
            </customer>
        </default>
        <ondemand>
            <customer>
                <create_account>
                    <confirm>0</confirm>
                </create_account>
            </customer>
        </ondemand>
    </stores>
    <default>
        <sso>
            <user_email_verification>
                <verification_email_expiry_duration>30 minutes</verification_email_expiry_duration>
                <verification_from_email>no-reply@fedex.com</verification_from_email>
                <verification_email_subject>FedEx Office Print On Demand User Verification</verification_email_subject>
                 <inactive_user_error_message>Your customer status has been marked inactive. Please contact your FedEx Administrator for assistance.</inactive_user_error_message>
                <inactive_user_landingpage_link>https://staging3.office.fedex.com/ondemand/selfreg/landing/</inactive_user_landingpage_link>
            </user_email_verification>
        </sso>
    </default>
</config>