<?xml version="1.0"?>
<!--
/**
 * Copyright © FedEx, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\NegotiableQuote\Ui\Component\Listing\Column\Status">
        <plugin name="uploadtoquote_plugin_negotiable_quote_status"
                type="Fedex\UploadToQuote\Plugin\Ui\Component\Listing\Column\Status" />
    </type>
    <type name="Magento\NegotiableQuote\Model\Status\BackendLabelProvider">
        <plugin name="uploadtoquote_plugin_negotiable_quote_backend_status"
                type="Fedex\UploadToQuote\Plugin\Model\Status\BackendLabelProvider" />
    </type>
    <type name="Magento\NegotiableQuote\Block\Adminhtml\Quote\View\Totals\Negotiation">
        <plugin name="custom_total_plugin" type="Fedex\UploadToQuote\Plugin\Quote\View\Totals\NegotiationPlugin" />
    </type>
    <type name="Magento\NegotiableQuote\Model\Quote\Totals">
        <plugin name="fedex_totals_tax_plugin" type="Fedex\UploadToQuote\Plugin\TotalsTaxPlugin"/>
    </type>
    <preference for="Magento\NegotiableQuote\Model\Status\BackendLabelProvider" type="Fedex\UploadToQuote\Model\Status\BackendLabelProvider"/>
</config>
