<?xml version="1.0"?>
<!--
/**
 * Copyright © FedEx, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="environment_toggle_configuration" translate="label" sortOrder="1001" showInDefault="1" showInWebsite="0" showInStore="0">
            <group id="environment_toggle" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <field id="xmen_upload_to_quote" translate="label" type="select" sortOrder="385" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>E-369071 - XMEN-Upload to Quote</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="xmen_u2q_customer_si_validate" translate="label" type="select" sortOrder="387" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>X-MEN U2Q Quote Detail CUSTOMER_SI validate</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="xmen_decline_quote_on_truncate" translate="label" type="select" sortOrder="388" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>X-MEN B-2107426 -  declined quote on cart truncate or deletion on all items</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="xmen_order_confirmation_fix" translate="label" type="select" sortOrder="389" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>X-MEN D-180168 - Order Confirmation Page fix</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="xmen_team_d191746_approval_decline_change_request_fix" translate="label" type="select" sortOrder="397" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>X-MEN - D-191746 - Selfreg_Unable to approve/decline/Change Request the quote as getting "System Error"</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="mazegeek_team_d193943_my_quotes_maitenace_fix" translate="label" type="select" sortOrder="399" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Mazegeek - D-193943 - U2Q_Getting "Maintenance Page" when clicking on "My Quotes" link for Declined Order from Quote History</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="mazegeek_team_utoq_quote_deactive_fix" translate="label" type="select" sortOrder="400" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>MazeGeeks - B-2290158 - U2Q quote not deactivating on approval fix</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Deactivate quote in case of any error occurred during approval process.</comment>
                </field>
                <field id="mazegeek_u2q_quote_decline_admin_fix" translate="label" type="select" sortOrder="400" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>MazeGeeks - B-2292501 - U2Q quote decline admin issue fix</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="mazegeek_u2q_quote_notes_save_fix" translate="label" type="select" sortOrder="400" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>MazeGeeks - D-208993 - U2Q quote notes saving issue fix</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="mazegeek_u2q_quote_expiry_issue_fix" translate="label" type="select" sortOrder="400" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>MazeGeeks - D-213254 - U2Q quote expiry issue fix</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="mazegeek_utoq_approval_fix" translate="label" type="select" sortOrder="400" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>MazeGeeks - D-199668 and D-199688 U2Q quote approval fix</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tiger_d206707" translate="label" type="select" sortOrder="431" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Tiger - D-206707 - U2Q_Getting "Schedule Maintenance" after clicking on Quote History</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tiger_d208156" translate="label" type="select" sortOrder="431" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Tiger - D-208156 - U2Q_Toast message appears when clearing cart items for approved quote</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="mazegeeks_d209908" translate="label" type="select" sortOrder="431" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>MazeGeeks - D-209908 - U2Q_Save the quote value before the rate quote call</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="mazegeeks_B2361911" translate="label" type="select" sortOrder="431" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>MazeGeeks - B-2361911 - Bidding in-store status updates</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tiger_d236356" translate="label" type="select" sortOrder="1500" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Tiger - D-236356 - [CRITICAL] Unable to open Quote containing a Bundle Product in FUSE</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tiger_tk4673962" translate="label" type="select" sortOrder="1600" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Tiger - TK-4673962 - Retail/Commercial Quotes are not routing to the customer selected stores</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tiger_tk4674396" translate="label" type="select" sortOrder="1700" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>Tiger - TK-4674396 - U2Q approved quote converted to order does not list the quote as Approved in Quote History (Commercial)</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
        <section id="fedex" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Settings</label>
            <tab>fedex_configurations</tab>
            <resource>Fedex_Base::config_info</resource>
            <group id="upload_to_quote_config" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Upload To Quote Configuration</label>
                <field id="enable" type="select" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Upload To Quote</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/Disable Upload To Quote feature Storewise</comment>
                </field>
                <field id="quote_request_title" translate="label comment" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Quote Request Title</label>
                    <comment>Add quote request title for popup</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="quote_request_message" translate="label comment" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Quote Request Message</label>
                    <comment>Add quote request message for popup</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="standard_size_warning_message" translate="label comment" type="textarea" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1"  canRestore="1">
                    <label>Standard Size Warning Message</label>
                    <comment>Add standard size warning message</comment>
                    <validate>required-entry</validate>
                </field>
                 <field id="quote_submit_next_steps" translate="label" type="editor" sortOrder="51" showInDefault="70" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Quote Request Success Message</label>
                    <frontend_model>Fedex\UploadToQuote\Block\Adminhtml\System\Config\Editor</frontend_model>
                    <comment>Enter the next steps content for quote success page</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="decline_modal_title" translate="label comment" type="textarea" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Quote Decline Modal Title</label>
                    <comment>Add title for quote decline modal</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="decline_modal_message" translate="label comment" type="textarea" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Quote Decline Modal Message</label>
                    <comment>Add message for quote decline modal</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="quote_decline_reason" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Quote Decline Reason</label>
                    <frontend_model>Fedex\UploadToQuote\Block\Adminhtml\System\Config\Form\Field\DynamicFields</frontend_model>
                    <backend_model>Fedex\UploadToQuote\Config\Backend\ArraySerialized</backend_model>
                    <comment>Add reason for quote decline</comment>
                </field>
                <field id="request_change_modal_message" translate="label comment" type="textarea" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Quote Request Change Modal Message</label>
                    <comment>Add message for quote request change modal</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="request_change_cta_label" translate="label comment" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Quote Request Change Modal CTA Label</label>
                    <comment>Add Label for quote request change modal CTA</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="request_change_cancel_cta_label" translate="label comment" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Quote Request Change Modal Cancel CTA Label</label>
                    <comment>Add Label for quote request change modal cancel CTA</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="request_change_undo_message" translate="label comment" type="textarea" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Request Change Undo Message</label>
                    <comment>Add undo message for Change Requested for quote.</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="quote_why_can_not_edit_button" translate="label" type="editor" sortOrder="150" showInDefault="70" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Why Can't I Edit</label>
                    <frontend_model>Fedex\UploadToQuote\Block\Adminhtml\System\Config\Editor</frontend_model>
                    <comment>Enter the edit message</comment>
                </field>
                <field id="declined_undo_message" translate="label comment" type="textarea" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Declined Undo Message</label>
                    <comment>Add undo message when quote is declined</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="delete_item_message" translate="label comment" type="textarea" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Delete Item Message</label>
                    <comment>Add delete item message for delete popup</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="delete_item_btn_cancel_label" translate="label comment" type="text" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Delete Item Modal CTA Cancel Label</label>
                    <comment>Add label for delete item Modal CTA cancel</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="delete_item_btn_submit_label" translate="label comment" type="text" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Delete Item Modal CTA Submit Label</label>
                    <comment>Add label for delete item Modal CTA submit</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="delete_item_undo_message" translate="label comment" type="textarea" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Delete Item Undo Message</label>
                    <comment>Add undo message when item is deleted. For dynamic data please add variable like %project_name% (e.g. You deleted %project_name% and your quote has been repriced.)</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="location_search_api_url" translate="label comment" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1"  canRestore="1">
                    <label>Location Search API Url</label>
                    <comment>Add Location Search API Url</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="fuse_add_to_quote_item" translate="label" type="select" sortOrder="201" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Add to Quote Product (FUSE) </label>
                    <source_model>Fedex\UploadToQuote\Model\Config\Source\Product</source_model>
                </field>
                <field id="login_modal_heading" translate="label comment" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1"  canRestore="1">
                    <label>Retail Login Modal Heading</label>
                    <comment>Default: Don't lose your quote</comment>
                </field>
                <field id="login_modal_copy" translate="label comment" type="text" sortOrder="310" showInDefault="1" showInWebsite="1" showInStore="1"  canRestore="1">
                    <label>Retail Login Modal Copy</label>
                    <comment>Default: Log in or create a user ID to request a priced quote from our team. With an account, you can easily access your quote for thirty days and check out whenever you're ready.</comment>
                </field>
            </group>
            <group id="transactional_email">
             <!--Quote Confirmation Email Configuration-->
                 <field id="quote_confirmation_email_enable" type="select" translate="label" sortOrder="52" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Quote Confirmation Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/Disable Quote Confirmation Email Email</comment>
                </field>
                <field id="quote_confirmation_email_template" translate="label" type="select" sortOrder="53" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Quote Confirmation Email Template</label>
                    <comment>Select email template for Confirmation</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                  <!--Quote Ready For Review Email Configuration-->
                <field id="quote_ready_for_review_email_enable" type="select" translate="label" sortOrder="54" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Quote Ready For Review Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/Disable Ready For Review Email</comment>
                </field>
                <field id="quote_ready_for_review_email_template" translate="label" type="select" sortOrder="55" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Quote Ready For Review Email Template</label>
                    <comment>Select email template for Quote Ready for Review</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <!--Quote Change Request Email Configuration-->
                <field id="quote_change_request_email_enable" type="select" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Quote Change Request Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/Disable Quote Change Request Email</comment>
                </field>
                <field id="quote_change_request_email_template" translate="label" type="select" sortOrder="61" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Quote Change Request Email Template</label>
                    <comment>Select email template for quote change request</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
              <!--Quote Decline Customer Email Configuration-->
               <field id="quote_decline_customer_email_enable" type="select" translate="label" sortOrder="62" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Quote Decline Customer Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/Disable Quote Decline Customer Email</comment>
                </field>
                <field id="quote_decline_customer_email_template" translate="label" type="select" sortOrder="63" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Quote Decline Customer Email Template</label>
                    <comment>Select email template for Quote Decline Customer</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <!--Quote Expired Email Configuration-->
                <field id="quote_expired_email_enable" type="select" translate="label" sortOrder="64" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Quote Expired Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/Disable Quote Expired Email</comment>
                </field>
                <field id="quote_expired_email_template" translate="label" type="select" sortOrder="65" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Quote Expired Email Template</label>
                    <comment>Select email template for expired quote</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <!--Quote Expiration Email Configuration-->
                <field id="quote_expiration_email_enable" type="select" translate="label" sortOrder="66" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Quote Expiration Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/Disable Quote Expiration Email</comment>
                </field>
                <field id="quote_expiration_email_template" translate="label" type="select" sortOrder="67" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Quote Expiration Email Template</label>
                    <comment>Select email template for expiration quote</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <!--Quote Decline By Team Email Configuration-->
                <field id="quote_decline_by_team_email_enable" type="select" translate="label" sortOrder="68" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Quote Decline by Team Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/Disable Quote Decline by Team Email</comment>
                </field>
                <field id="quote_decline_by_team_email_template" translate="label" type="select" sortOrder="69" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Quote Decline by Team Email Template</label>
                    <comment>Select email template for Quote Decline by Team</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
             </group>
             <group id="non_standard_catalog_popup_model_config" translate="label" type="text" sortOrder="1001" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Non Standard Catalog Popup Model Config</label>
                <field id="additional_print_instructions_title" translate="label comment" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Additional Print Instructions Title</label>
                    <comment>Add additional print instructions request title for popup</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="additional_print_instructions_message" translate="label comment" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Additional Print Instructions Request Message</label>
                    <comment>Add additional print instructions message for popup</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="non_standard_size_warning_message" translate="label comment" type="textarea" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1"  canRestore="1">
                    <label>Non Standard Size Warning Message</label>
                    <comment>Add non standard size warning message</comment>
                    <validate>required-entry</validate>
                </field>
            </group>
        </section>
    </system>
</config>
