<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<th class="data-grid-multicheck-cell">
    <div class="action-multicheck-wrap">
        <input class="admin__control-checkbox custom_header_checkbox" type="checkbox"
            data-bind="click: togglePage(),
            keyboard:{13: function (e) {
                triggerSelectAll(e.currentTarget)
            }}"
            aria-label="Select Manage Users" data-test-id="E-404291-B-2010873-TK-3436949-manage-user-check-all"/>
    </div>
</th>
