<?xml version="1.0"?>
<!--
/**
 * @author Fedex
 * @package Fedex_CategoryImportExport
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Fedex_Base::fedex_menu"
			 title="Fedex"
			 module="Fedex_Base"
			 sortOrder="20"
			 resource="Fedex_Base::fedex_menu"/>
		<add id="Fedex_Base::fedex_submenu" title="Product Import"
             module="Fedex_Base"
             sortOrder="120"
             parent="Fedex_Base::fedex_menu"
             resource="Fedex_Base::fedex_submenu"/>
	</menu>
</config>
