<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <web>
            <third_party_modal>
                <third_party_modal_title><![CDATA[You are leaving FedEx.com]]></third_party_modal_title>
                <third_party_modal_top_description><![CDATA[The website you are about to visit is not hosted by FedEx Office. Although we only partner with and link to reputable companies we are not responsible for content provided by this or other third party sites, including those to which you may be redirected.]]></third_party_modal_top_description>
                <third_party_modal_bottom_description><![CDATA[You are subject to the Privacy Policy and Terms & Conditions of the destination site(s) collecting your information, rather than those of FedEx Office.]]></third_party_modal_bottom_description>
            </third_party_modal>
        </web>
    </default>
</config>