.opc-progress-bar-item._active::before {
    background: #4b148a !important;
    border-color: #4b148a !important;
}

.opc-progress-bar-item._active>span::before {
    background: #4b148a !important;
    border-color: #4b148a !important;
}

.opc-progress-bar-item._active>span::after {
    border-color: #4b148a !important;
}

.opc-wrapper .shipping-address-item.selected-item {
    border-color: #4b148a !important;
}

.opc-wrapper .shipping-address-item.selected-item::after {

    background: #4b148a !important;
}

.action.action-select-shipping-item {
    border: none;
    background: none;
    color: #006bb4;
    text-decoration: none;
    text-transform: uppercase;
}

.action.action-select-shipping-item:hover {
    color: #006bb4;
    text-decoration: underline;
}

/* Custom style for print product item */
.custom-print-item {
    align-items: center;
}

.action.action-show-popup {
    border: 1px solid #006bb4;
    background: #fff;
    border-radius: unset;
    color: #006bb4;
    padding: 10px 66px;
    text-transform: uppercase;

}

.opc-wrapper .action-show-popup>span::before {
    content: none !important;
}

.button.create_quote {
    border-radius: 0px;
}

.methods-shipping .actions-toolbar .action.primary {
    padding: 14px 30px !important;
    text-transform: uppercase;
    border-radius: unset;
}

.opc-wrapper .shipping-address-item {
    border: 1px solid #ddd;
    height: auto !important;
    margin-right: 25px;
}

.opc-wrapper .edit-address-link {
    margin: 10px 5px 0 0;
}

.opc-wrapper .action-select-shipping-item {
    margin: 6px 0 0 !important;
    padding-right: 0px;
}

.shipping-address-item.not-selected-item {
    position: unset;
}
/* update item row total B-1105765 */
.opc-block-summary .product-item .subtotal {
    display: inline-table;
}

.opc-block-summary .product-item .product-item-name-block {
    display: inline-table !important;
    width: 72%;
}

.opc-block-summary {
    background: #fff !important;
    border: 1px solid #ccc;
}

.action.edit.edit_cart {
    right: 18px;
    top: 35px;
    position: absolute;
}

.minicart-wrapper .action.showcart .counter.qty {
    background: #4b148a !important;
}

.cart-summary .checkout-methods-items .action.primary.checkout {
    text-transform: uppercase;
    line-height: 2.2rem !important;
    border: #ff6200;
    background: #ff6200;
    padding: 12px 5px !important;
}

.cart-summary .checkout-methods-items .action.primary.checkout > span {
    font-size: 19px !important;
    font-weight: bold !important;
}


/**admin css here checkout*/

#popup-modal {
    display: none;
}

.place-pickup-order {
    display: none;
}

.checkout-cart-index #popup-modal {
    text-align: center;
}

.pickup-holder-option,
.ship-holder-option {
    border: 1px solid #4D148C;
    padding: 7%;
}

.pickup-holder-option {
    margin-right: 25%;
}

.ship-holder-option {
    margin-left: 25px;
}

.main-container-holder-option {
    width: 82%;
    margin: auto;
    display: flex;
}

.main-container-holder-option .anchor-ship-cart,
.main-container-holder-option .anchor-pickup-cart {
    background: #0078B4;
    color: white;
    font-weight: 700;
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-decoration: none;
}

.modal-popup .modal-inner-wrap {
    width: 53% !important;
    padding: 42px;
}

.ship-holder-option,
.pickup-holder-option {
    width: 50%;
    padding-top: 6%;
    padding-bottom: 6%;
    line-height: 20px;
}

.ship-holder-option p {
    padding: 12px;
}

.pickup-holder-option p {
    padding: 6px;
}

.modal-header {
    padding: 0 !important;
}

.pickup-container-section .shipping-address-item.shipping-address-item-pickup {
    padding: 0px 35px 20px 20px;
}

.place-pickup-order {
    margin-top: 3rem;
    margin-left: 3rem;
    width: fit-content;
    background: #FF5400;
    border-radius: 0;
    padding: 14px 20px 14px 20px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'FedEx Sans Bold';
    font-size: 19px;
    height: 5rem;
}

.place-pickup-order:hover{
    background: #FF5400;
    color: white;
}

@media (max-width: 1199px) {
    .place-pickup-order {
        margin-left: 0;
    }
}

.pickup-container-section p {
    margin-bottom: 0rem;
}

.sidebar .block-content.filter-content {
    display: none;
}

.sidebar.sidebar-main {
    padding-top: 0px !important;
}

.ship-holder-verbose {
    margin-top: -1.5rem !important;
}

.mymodal1 {
    display: none !important;
}


.input-text {
    font-size: 12px !important;
    border: 1px solid black;
    height: 4rem !important;
}

.block-collapsible-nav .content {
    display: none !important;
}

.block-dashboard-info .box-newsletter {
    display: none !important;
}

.block-dashboard-info .box-role {
    display: none !important;
}

.form-edit-account .fieldset.company {
    display: none !important;
}

.form-edit-account .fieldset.job_title {
    display: none !important;
}

.contact_wrapper-label {
    border-bottom: 1px solid grey;
    width: 95%;
    margin-bottom: 3rem;
}

.contact-inforamtion-label {
    margin-bottom: 2rem;
    color: black;
    font-weight: 300;
}

.floatL {
    width: 50%;
    float: left;
}

.floatR {
    width: 50%;
    float: right;
}

.phone_floatL {
    width: 70%;
    float: left;
}

.ext_floatR {
    width: 30%;
    float: right;
}

.width-95 {
    width: 95% !important;
}

.width-50 {
    width: 50% !important;
}

.width-84 {
    width: 84% !important;
}

.width-88 {
    width: 88% !important;
}

.width-90 {
    width: 90% !important;
}

.button-save-information {
    background: #1979c3;
    border: 1px solid #1979c3;
    color: #fff;
    width: 95% !important;
    height: 5.5rem !important;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 1rem !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    text-transform: uppercase !important;
}

.below-margin {
    margin-bottom: 1rem !important;
}

.input-height {
    height: 5rem !important;
    border: 1px solid black !important;
}

.below_margin-email {
    margin-bottom: 3rem;
}

.required-feild,
.error {
    color: red;
}

.button-save-information:focus {
    background: #1979c3 !important;
    border: 1px solid #1979c3 !important;
    color: #fff !important;
}

.button-save-information:hover {
    background: #1979c3 !important;
    border: 1px solid #1979c3 !important;
    color: #fff !important;
}

.opc-block-summary .grand.incl+.grand.excl .mark strong {
    display: none;
}

.opc-block-summary .grand.incl+.grand.excl .amount strong {
    display: none;
}

.products-list .product-item-details {
    float: right;
    text-align: right;
}

@media only screen and (max-device-width: 812px) and (orientation: portrait) {
    .products-list .product-item-details {
        float: none;
        text-align: right;
    }
}

.sorter-options option[value="position"] {
    display: none !important;
}

div[contentdata="Unable to retrieve shipping options and prices. Refresh the page or try again at a later."] {
    display: none !important;
}

.opc-block-shipping-information {
    padding: 0 0 0 0px;

}

.alertbox {
    border: 1px solid #F7B118;
    width: 100%;
    float: left;
    display: flex;
}

.warning-box-inner img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.opc-block-shipping-information .alertbox .warning-box-inner {
    background-color: #F7B118;
    width: 50px;
    position: relative;
}

.opc-block-shipping-information .alertbox .warning-msg {
    padding: 10px;
    width: 100%;
}

.opc-block-shipping-information .alertbox .warning-msg p {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
}

.opc-block-shipping-information .alertbox .warning-box-inner {
    background-color: #F7B118;
    width: 50px;
    position: relative;
}

.opc-wrapper .shipping-address-item {
    width: 33.33333333%;
    position: relative !important;
}

button.action.edit-address-link {

    bottom: -9px;
    left: 20pxx;
}

.opc-wrapper .action-select-shipping-item {
    margin: 6px 0 0 !important;
    padding-right: 0px;

    bottom: -14px;
    right: 20px;
}

/*Search Store Pickup Button*/
.search-location-container .zipcodePickup {
    width: 25%;
}

#search-pickup {
    border-radius: 0px;
    background: #FF6200;
    font-size: 19px;
    font-weight: bold;
    margin-top: 2rem;
    width: 12rem;
    height: 48px;
}
.search-location-container {
    display: flex
}

/*Shipping Rates Trigger Button*/
.no-quotes-block .try-again {
    padding: 2px 10px;
    border-radius: 4px;
}

.pull-left {
    float: left;
}

/** Warning icon replacement */
.message.warning > *:first-child:before {
    color: transparent;
    background: no-repeat;
    left: 12px;
    background-image: url('../images/close_icon.svg');
}

/* style for continue shopping button */
.shipping-note {
    width:100%;
    color: #333333;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 11px;
    text-align: center;
}
.cart-continue-shopping-btn {
    background-color: #ffffff;
    color: #0078B4;
    width: 100%;
    height: 40px;
    border: 1px solid #0078B4;
    font-weight: 700;
}


/*Home Page Blocks Style*/
.browse-catalog-block-container {
    display: flex;
    height: 30rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    padding-right: 9rem;
}
.browse-catalog-block-company-greeting {
    background-color: white;
    width: 50%;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    height: 18rem;
}
span.browse-catalog-block-description {
    font-size: 30px;
    font-weight: 300;
}
button.browse-catalog-view-button {
    background-color: #0078B4;
    color: white;
    width: 200px;
    height: 40px;
    box-shadow: none;
    margin-top: 1rem;
}
.browse-catalog-block-company-greeting span {
    font-size: 22px;
    font-weight: 300;
    color: #333333;
}
.view-prints-block-wrapper {
    height: 30rem;
    text-align: right;
    vertical-align: middle;
}
.view-prints-block-container {
    background-color: white;
    height: 80%;
    width: 100%;
    border: 1px solid #4D148C;
}

.print-products-images-container {
    float: left;
    margin-top: 3rem;
}
.view-print-products-description {
    padding-top: 6rem;
    padding-left: 1rem;
}

.view-print-products-description span {
    font-size: 26px;
    font-weight: 300;
}
button.view-print-products-block-button {
    background-color: #0078B4;
    color: white;
    width: 221px;
    height: 40px;
    box-shadow: none;
    margin-top: 2rem;
}

.cart-totals .grand strong, .opc-block-summary .table-totals .grand strong{
    font-family: 'Fedex Sans Medium';
    font-weight: 500;
}

.opc-block-summary .table-totals .totals-tax{
    font-family: 'Fedex Sans Regular';
    font-size: 16px;
}

.opc-block-summary .table-totals .totals-tax{
    font-family: 'Fedex Sans Regular';
    font-size: 16px;
}

.opc-block-summary .table-totals .totals.shipping.excl{
    font-family: 'Fedex Sans Regular';
    font-size: 16px;
}

.opc-block-summary .table-totals .totals.shipping.excl .mark .value{
    display: none;
}

.opc-block-summary .table-totals .totals.sub{
    font-family: 'Fedex Sans Regular';
    font-size: 16px;
}

.opc-block-summary .table-totals .totals.fedexDiscount{
    font-family: 'Fedex Sans Regular';
    font-size: 16px;
}

.opc-block-summary .items-in-cart .minicart-items{
    font-family: 'Fedex Sans Bold';
    font-size: 14px;
}

.opc-block-summary .items-in-cart .title{
    font-family: 'Fedex Sans Light';
    font-size: 18px;
}

.opc-block-summary .title{
    font-family: 'Fedex Sans Light';
    font-size: 26px;
    font-weight: 300;
}
.opc-block-summary .items-in-cart {
    margin-bottom: 0 !important;
}

.opc-block-summary .table-totals{
    line-height: 24px;
}

.opc-block-summary .table-totals .totals.fedexDiscount .mark{
    padding-bottom: 4px;
}

.search-location-container .datetimepicker{
    width: 29.5%;
    height: auto ;
    margin-left: 1rem;
}

/*Left Category Page Sidebar style rgb not supported in less*/
div.sidebar .category-tree  {
    box-shadow: -1px 0 5px 1px rgb(0 0 0 / 20%);
}

/*cart Item Image style start*/
.cart-container span.product-image-container img {
    object-fit: cover;
    height: 113px;
    width: 167px!important;
}
.cart.table-wrapper .actions-toolbar {
    min-height: 0px;
    height: 0px;
    padding-bottom: 0px;
    bottom: 29px;
}
/*cart Item Image style End*/

/* Show Details and Show hide attribute style start*/

.show-detail {
    position: relative;
}
.configurater-product-attr {
    background: #fff;
    z-index: 9;
    display: block;
    padding-top: 15px;
}
.configurater-product-attr ul {
    list-style: none;
    padding: 0;
}
.configurater-product-attr ul li {
    margin-bottom: 6px;
}

.custom-print-item .product-item-details {
   margin-left: 20px;
}

.show-detail:after{
    content: '';
    border: solid black;
    border-width: 0 1px 1px 0;
    padding: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    top: 0px;
    right: -18px;
}
.show-detail.icon-arrow:after{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    top: 5px;
}

.cart.table-wrapper .product-item-name {
    margin: 5px 0px 15px !important;
}

.cart.table-wrapper .item .col.item {
    align-items: flex-start;
}
.cart-container .form-cart .item-text {
    display: none;
}

#coupon_code:focus, .action.apply.primary:focus {
    outline: #5EA0C1 2px solid;
}

@media only screen and (min-width: 768px) {
    .main-popup-title {
        line-height: 40px;
    }
    .fcl_continue_guest_enabled .login-top-popup .row-1 {
        margin: 20px 0 41px 0;
    }
}

@media only screen and (max-width: 767px) {
    .cart.table-wrapper .col.price {
        width: 100% !important;
    }
    .cart.table-wrapper .col.qty {
        width: 100% !important;
    }
    .cart.table-wrapper .col.subtotal {
        width: 100% !important;
    }
    #shopping-cart-table .item-info td {
        display: flex;
        justify-content: space-between;
        padding: 0 12px;
        margin-bottom: 20px;
    }
    #shopping-cart-table .item-info .custom-print-item {
        justify-content: inherit;
    }
    .cart-container .form-cart .item-text {
        display: block;
        font-size: 15px;
        font-weight: 600;
        margin-left: 12px;
        margin-bottom: 10px;
    }
    .cart.table-wrapper .col.qty .input-text {
        height: 36px;
        margin-top: -7px;
        text-align: center;
        width: 50px;
    }
    .cart-container .form-cart {
        padding: 0px 15px;
    }
    .cart.table-wrapper .product-item-name {
        font-size: 1.7rem !important;
    }
    .checkout-cart-index h3#checkout-continue-guest {
        padding: 0px;
        text-align: center;
        margin: 0px auto;
        clear: both;
        width: 100%;
        float: right!important;
        order: 3;
        margin-top: 10px;
    }
    .block-minicart .block-content > .actions > .primary .action.primary {
        font-size: 1.4rem;
    }
    .mobile-cart-icon {
        padding-left: 16px;
    }
    .minicart-wrapper .action.showcart {
        margin-left: 0px;
    }
    .minicart-wrapper .block-minicart {
        width: 100%;
    }
}
/* Show Details and Show hide attribute style end*/

/* start product engine qty loader style*/
.product-engine-qty {
    position: relative;
}
.product-engine-qty-loader {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
}
/* end product engine qty loader style*/
.contact_wrapper_inner {
    padding: 8px 0 8px 30px;
}
/* telephone link style*/
.tele a {
    text-decoration: none;
    color: #2F4047;
}
.punchout-autologin-index .page-wrapper {
    display: none;
}

/* Start style cart item image */
.product-image-container.prev-img-loader {
    position: relative;
 }
 .product-image-container.prev-img-loader .product-loader, .product-image-container .product-loader {
     position: absolute;
  }
 .product-image-container.prev-img-loader .preview-product-img,
 .product-image-container .product-loader + .product-image-photo {
     visibility: hidden;
 }
 /* End style cart item image */

 /* New style added to loginPopup */
 .action.primary.checkout-mini{
    text-transform: uppercase;
    background: #FF6200;
    border: #FF6200;
 }

 .login-top-popup h2.note-head {
    font-weight: bold;
    color: #007AB7;
    font-size: 16px;
    font-family: 'FedEx Sans Bold';
    text-transform: uppercase;
    cursor: pointer;
    padding: 46px 56px 0 50px;
}

/**Start-Styles for shipping or pickup pop-up*/
  .pickup-img, .delivery-img{
    max-width:5rem;
    margin-bottom:2rem;
  }

  .pickup-img{
    margin-top:1rem;
  }

  .delivery-img{
    margin-top: 1rem;
    max-width:5rem;
  }

  #pickup-shipup-popup-modal {
    display: none;
    text-align: center;
  }

  #popup-modal{
    display: none;
  }
  .checkout-cart-index #popup-modal{
    text-align: center;
    padding:4rem;
  }

  .modal-popup.modal-slide .modal-footer{
    border-top:0 none;
  }

  .pickup-holder-option, .ship-holder-option{
    border: 1px solid #9d00ffb8;
    padding: 2%;
  }

  .pickup-holder-option {
       margin-right: 25%;
   }
   .ship-holder-option{
       margin-left: 25px;
  }
  .main-container-holder-option{
    width: 82%;
    margin: auto;
    display: flex;
  }
  .main-container-holder-option .anchor-ship-cart,.main-container-holder-option .anchor-pickup-cart{
    background: #FF5400;
    color: white;
    font-weight: 700;
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-decoration: none;
  }
  .pickup-holder-option .anchor-pickup-cart, .ship-holder-option .anchor-ship-cart{
    box-shadow: none;
  }
 .modal-popup .modal-inner-wrap{
   width: 53% !important;
   padding: 42px;
}
.ship-holder-option,.pickup-holder-option{
    width: 50%;
    padding-top: 6%;
    padding-bottom: 6%;
    line-height: 20px;
}
.ship-holder-option p{
  margin: 0;
}
.pickup-holder-option p{
  margin: 0;
}
.ship-holder-verbose{
  margin-top: 1rem;
}
.main-popup-title{
    font-size: 32px;
    font-weight: 300;
    color:#2F4047;
    font-family: 'Fedex Sans Light';
}
.modal-header{
  padding: 0 !important;
}
.opc-block-summary .table-totals{
  display: none;
}
.model-oopup{
  width: 100% !important;
}
.choose-container .anchor-ship,.choose-container .anchor-pickup{
    background: #FF6200;
    color: white;
    height: 40px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'FedEx Sans Regular';
    border-radius:0;

  }
  .choose-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  @media only screen and (max-width:720px){
    .choose-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .pickup-holder{
    border: 1px solid #333333;
    margin: 1%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ship-holder{
    border: 1px solid #333333;
    margin: 1%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-verbose{
    font-size: 2rem;
    font-weight: 300;
    line-height: 28px;
    color:#2F4047;
    font-family: Fedex Sans Light;
  }

  .font-class{
    font-family: 'Fedex Sans Light';
    font-size:16px;
  }

  .checkout-cart-index h3#checkout-continue-guest {
    display: block;
    padding: 31px 0px 0px 0px;
    margin: 0px auto;
    width: 100%;
    background: #fff;
    border: none;
    margin-top: 0px;
    line-height: 19px;
    letter-spacing: 0.75px;
    clear: both;
    font-size: 14px;
    text-align: center;
    color: #0078B4;
    text-transform: uppercase;
    font-family: 'FedEx Sans Bold';
  }
  body .modal-popup.modal-slide .modal-footer {
    border-top: 0 none;
  }
  #pickup-shipup-popup-modal {
    padding: 64px 48px 48px 48px;
  }
  .pickup-shipup-model .modal-footer {
    padding-bottom: 0px;
    padding-top: 0px;
   }
  
/**End-Styles for shipping or pickup pop-up*/



/**Start-Styles for 404 page*/
.cms-no-route .sections.nav-sections {
    margin-bottom: 0px !important;
}

.cms-no-route .widget.block.block-static-block div .row-full-width-inner .pagebuilder-column-group .pagebuilder-column div .promo_block_1 {
    color: #152830;
    font-family: 'FedEx Sans Bold';
    font-size: 20px;
}

.cms-no-route .widget.block.block-static-block div .row-full-width-inner .pagebuilder-column-group .pagebuilder-column div .border {
    border-left: 1px solid #dce2e6;
    border-right: 1px solid #dce2e6;
    height: auto;
}

.cms-no-route .widget.block.block-static-block div .row-full-width-inner .pagebuilder-column-group .pagebuilder-column div .border .p1 {
    color: #121e24;
    font-family: 'FedEx Sans Bold';
    font-size: 20px;
}

.cms-no-route .widget.block.block-static-block div .row-full-width-inner .pagebuilder-column-group .pagebuilder-column div .border .p1 img {
    height: 17px;
    width: 17px;
}

.cms-no-route .widget.block.block-static-block div .row-full-width-inner .pagebuilder-column-group .pagebuilder-column div .border .p1 .p2 {
    color: #152830;
    font-family: 'FedEx Sans Regular';
    font-size: 15px;
}

.cms-no-route .widget.block.block-static-block div .row-full-width-inner .pagebuilder-column-group .pagebuilder-column div .promo_block_3 .line_1 {
    color: #152830;
    font-family: 'FedEx Sans Regular';
    font-size: 20px;
}

.cms-no-route .widget.block.block-static-block div .row-full-width-inner .pagebuilder-column-group .pagebuilder-column div .promo_block_3 .line_1 .line_2 {
    font-family: 'FedEx Sans Italic';
    font-size: 15px;
    color: #121e24;
}

.cms-no-route .promo_divider {
    text-align: center;
    border-width: 1px;
    border-radius: 0px;
    margin: -30px 0px !important;
    padding: 0px;
}

.cms-no-route .page-not-found {
    color: #2F4047;
    font-family: "FedEx Sans Light";
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    margin-top: 8px;
}

.cms-no-route .icon-container {
    height: 96px;
    width: 96px;
    background-color: #FFFFFF;
    margin: 0 auto;
}

.cms-no-route .page-not-find-content {
    padding-top: 50px;
}

.cms-no-route .icon-container .warning-icon {
    height: 56px;
    width: 64.01px;
    margin: 20px 16px 20px 16px;
    background-color: #F7B118;
}

.cms-no-route .the-page-you-request {
    width: 100%;
    color: #2F4047;
    font-family: "FedEx Sans Light";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.13px;
    line-height: 32px;
    text-align: center;
    margin: 0 auto;
    margin-top: 23px;
    max-width: 600px;
}

.cms-no-route [data-content-type='row'][data-appearance='full-width'] > .row-full-width-inner {
    max-width: 100% !important;
}

@media only screen and (min-width:992px) {
    .cms-no-route .the-page-you-request {
        max-width: 742px;
    }
}

@media (max-width:767px) {
    .cms-no-route .widget.block.block-static-block div .row-full-width-inner .pagebuilder-column-group .pagebuilder-column div .border .p1 .p2 {
        display: none;
    }

    .cms-no-route .widget.block.block-static-block div .row-full-width-inner .pagebuilder-column-group .pagebuilder-column div .promo_block_1 {
        display: none;
    }

    .cms-no-route .widget.block.block-static-block div .row-full-width-inner .pagebuilder-column-group .pagebuilder-column div .promo_block_3 .line_1 {
        display: none;
    }

    .cms-no-route .widget.block.block-static-block div .row-full-width-inner .pagebuilder-column-group .pagebuilder-column div .border .p1 {
        font-size: 15px;
        display: inline !important;
    }

    .cms-no-route .widget.block.block-static-block div .row-full-width-inner .pagebuilder-column-group .pagebuilder-column div .border {
        border: 0;
        border-bottom: 1px solid #dce2e6;
    }

    .cms-no-route .widget.block.block-static-block div .row-full-width-inner .pagebuilder-column-group .pagebuilder-column div .border .p1 img {
        height: 16px !important;
        width: 16px !important;
    }

    .cms-no-route .page-not-find-content {
        padding-top: 25px !important;
    }

    .cms-no-route .nav-profile {
        display: none;
    }

    .cms-no-route .promo_sec_2 .border p.p1 img {
        position: relative;
        top: 3px;
    }
}

@media (max-width:991px) {
    .cms-no-route .widget.block.block-static-block div .row-full-width-inner .pagebuilder-column-group .pagebuilder-column div .promo_block_1 {
        display: none;
    }
    .cms-no-route .widget.block.block-static-block div .row-full-width-inner .pagebuilder-column-group .pagebuilder-column div .border .p1 .p2 {
        display: none;
    }
    .cms-no-route .widget.block.block-static-block div .row-full-width-inner .pagebuilder-column-group .pagebuilder-column div .promo_block_3 .line_1 .line_2 {
        display: none;
    }
    .cms-no-route .promo_sec_1 {
        display: none !important;
    }

    .cms-no-route .widget.block.block-static-block div .row-full-width-inner .pagebuilder-column-group .pagebuilder-column div .border {
        border-left: 0px !important;
    }

    .cms-no-route .widget.block.block-static-block div .row-full-width-inner .pagebuilder-column-group .pagebuilder-column div .border .p1 {
        color: #152830;
        display: flex;
        font-family: 'FedEx Sans';
        font-size: 14px;
        font-weight: bold;
        letter-spacing: .71px;
        text-align: center;
    }

    .cms-no-route .widget.block.block-static-block div .row-full-width-inner .pagebuilder-column-group .pagebuilder-column div .promo_block_3 .line_1 {
        color: #152830;
        font-family: 'FedEx Sans';
        font-size: 14px;
        letter-spacing: .71px;
        text-align: center;
    }

    .cms-no-route .promo_sec_2 {
        width: 75% !important;
    }

    .cms-no-route .nav-profile {
        display: none;
    }

    .cms-no-route .promo_sec_2 .border p.p1 img {
        height: 16.01px;
        padding-left: 2px;
        padding-right: 2px;
        width: 19.09px;
    }
}
/**End-Styles for 404 page*/
.action-close:focus-visible {
    box-shadow: 0 0 3px 1px #00699d;
}

.configurator-index-index .page-title-wrapper {
    display: none;
}

.canva-index-index .page-title-wrapper {
    display: none;
}

.submitorder-index-ordersuccess .page-title-wrapper {
    display: none;
}
.po-reference-label {
    text-transform: uppercase;
}

/** Start code for ADA color contrast */

    .retail-home-banner-container .retail-home-banner-section .pagebuilder-poster-content .pagebuilder-button-primary {
        width: 150px !important;
        font-size: 19px !important;
        font-weight: bold !important;
    }

    .cms-index-index .pagebuilder-button-secondary {
        border: 2px solid #0079B4 !important;
        color: #0079B4 !important;
    }

    .file-upload-section button.btn-secondary {
        border: 2px solid #0079B4 !important;
        color: #0079B4 !important;
    }

    .cms-page-view .pagebuilder-banner-button.pagebuilder-button-primary {
        background-color: #ff6200 !important;
        border: 2px solid #ff6200 !important;
        font-size: 19px !important;
        font-weight: bold !important;
    }

    .cms-page-view .pagebuilder-button-secondary {
        background-color: #F7F9FA !important;
    }

    .checkout-cart-index .cart-summary {
        background: #F7F9FA !important;
    }

    .login-top-popup .btn-popup-create-user {
        font-size: 19px !important;
        font-weight: bold !important;
    }

    .login-top-popup .btn-popup-login {
        font-size: 19px !important;
        font-weight: bold !important;
    }

    .pickup-holder .anchor-pickup {
        padding: 14px 15px !important;
        font-size: 19px !important;
        font-weight: bold !important;
    }

    .ship-holder .anchor-ship {
        padding: 14px 15px !important;
        font-size: 19px !important;
        font-weight: bold !important;
    }

    .primary.apply-promo span {
        font-size: 19px !important;
    }

    .checkout-cart-index .cancel-field .actions-toolbar {
        width: 70% !important;
    }

    .message.error {
        background: #FCEDED !important;
        color: #D6230D !important;
    }

    .applied .actions-toolbar {
        right: 0px !important;
        top: 2px !important;
    }

    .checkout-shipping-method .actions-toolbar .action.primary.button {
        font-size: 19px !important;
        font-weight: bold !important;
    }

    .fedex-account-number-review-button {
        font-weight: bold !important;
    }

    .fedex-account-number-error {
        color: #DB002C !important;
    }

    .card-number-ending {
        color: #6A7981 !important;
    }

    .credit-card-no {
        color: #2F4047 !important;
    }

    .name-card-error {
        color: #DB002C !important;
    }

    .card-number-error {
        color: #DB002C !important;
    }

    .invalid-account-error {
        color: #DB002C !important;
    }

    .credit-card-review-button {
        font-weight: bold !important;
    }

    .checkout-order-success .actions-toolbar > .primary .action {
        font-size: 19px !important;
        font-weight: bold !important;
        padding: 16px 25px !important;
    }

    .catalogsearch-advanced-index .actions-toolbar > .primary .action {
        font-size: 19px !important;
        font-weight: bold !important;
    }

    .catalogsearch-advanced-index .advanced .fieldset {
        margin-bottom: 35px !important;
    }

    .catalogsearch-advanced-index .advanced .actions-toolbar {
        margin-bottom: 35px !important;
    }


@media (max-width:767px) {
    .cart-continue-shopping-btn {
        width: 90% !important;
    }

    .primary.apply-promo span {
        font-size: 16px !important;
    }

    .pickup-holder .anchor-pickup {
        font-size: 19px !important;
        padding: 5px 10px !important;
    }

    .ship-holder .anchor-ship {
        font-size: 19px !important;
        padding: 5px 10px !important;
    }
}

@media (max-width:991px) {
    .cart-continue-shopping-btn {
        height: 50px !important;
    }
    .cart-summary .checkout-methods-items .action.primary.checkout > span {
        font-size: 19px !important;
    }
    .cart-summary .block .title strong {
        font-size: 1.4rem !important;
    }
    .primary.apply-promo span {
        font-size: 19px !important;
    }
    .checkout-cart-index .cart-summary {
        padding: 1px 10px 25px !important;
    }
}
.checkout-cart-index .messages div.message-error + div {
    display: none;
}



/* FCL Customer - My Profile Title - Fix */

@media screen and (min-width: 768px){
    .cms-epro-home.page-layout-1column .block.block-dashboard-info-top {
        margin-left: 131.5px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1440px){
    .cms-epro-home.page-layout-1column .block.block-dashboard-info-top {
        margin-left: 111.5px !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1199px){
    .cms-epro-home.page-layout-1column .block.block-dashboard-info-top {
        margin-left: 84.5px !important;
    }
}
@media screen and (min-width: 1200px){
    .is-fcl.page-layout-1column .block.block-dashboard-info-top{
        margin-left: 44px !important;
    }
}
@media screen and (max-width: 1199px){
    .account.is-fcl.page-layout-1column .block.block-dashboard-info-top{
        margin-left: 0px !important;
    }
    .account.is-fcl.page-layout-1column .block.block-dashboard-info-top .my-profile h1.page-title {
        padding-left: 0px !important;
    }
    .account.is-fcl.page-layout-1column .block.block-dashboard-info-top .my-profile {
        padding-top: 30px;
    }
}

/* By Default My Quote left navigation hide in left sidebar for orderhistory */
.selfreg-store-fcl .block-collapsible-nav .item a.my-quotes-epro-sidebar {
    display: none;
}
/* My Quote show under left navigation sidebar for orderhistory */
.epro-order-history-reorder.sales-order-history.page-layout-2columns-left.sidebar.sidebar-main .my-quotes-epro-sidebar {
    display: block;
}

/* Fix ADA Landmark issue on Cart Page */
.checkout-cart-index .page-footer,
.checkout-index-index .page-footer {
    display: none;
}

@media only screen and (min-width: 240px) and (max-width: 281px) {
    .block-collapsible-nav .content.active {
        display: block !important;
    }
}
/* B-1569527 */
.commercial-store-home.catalog-mvp-customer-admin .sidebar-main .category-tree ul>li.print_products_left_nav> .left-nav-parent-icon {
    position: absolute;
    background-image: url('../images/print_product_icon.svg');
    width: 50px;
    height: 50px;
    margin-left: 3px;
}
.commercial-store-home.catalog-mvp-customer-admin .sidebar-main .category-tree ul>li.print_products_left_nav.active> .left-nav-parent-icon {
    position: absolute;
    background-image: url('../images/print_product_active_icon.svg');
    width: 50px;
    height: 50px;
    margin-left: 3px;
}
.commercial-store-home.catalog-mvp-customer-admin .sidebar-main .category-tree ul>li.shared_catalog_left_nav.active> .left-nav-parent-icon {
    position: absolute;
    background-image: url('../images/shared_catalog_active_icon.svg');
    width: 50px;
    height: 50px;
    margin-left: 3px;
}
.commercial-store-home.catalog-mvp-customer-admin .sidebar-main .category-tree ul>li.shared_catalog_left_nav> .left-nav-parent-icon {
    position: absolute;
    background-image: url('../images/shared_catalog_icon.svg');
    width: 50px;
    height: 50px;
    margin-left: 3px;
}

.commercial-store-home.catalog-mvp-customer-admin .main .toolbar-products .mvp-sort-option .icon-list-grid-view .icon-list-view{
  
    background-image: url('../images/mvp_list_view.png');
    width: 50px;
    height: 50px;
    margin-left: -2px;
    margin-top: -2px

}

.commercial-store-home.catalog-mvp-customer-admin .main .toolbar-products .mvp-sort-option .icon-list-grid-view .icon-grid-view{   
    background-image: url('../images/mvp_grid_view.png');
    width: 49px;
    height: 50px;
    margin-left: -2px;
    margin-top: -2px;
}
.commercial-store-home.catalog-mvp-customer-admin .main .toolbar-products .mvp-sort-option .icon-list-grid-view .icon-grid-view.active{   
    background-image: url('../images/mvp_grid_view_active.png');
    width: 49px;
    height: 50px;
    margin-left: -2px;
    margin-top: -1px;
}
.commercial-store-home.catalog-mvp-customer-admin .main .toolbar-products .mvp-sort-option .icon-list-grid-view .icon-list-view.active{   
    background-image: url('../images/mvp_list_view_active.png');
    width: 50px;
    height: 50px;
    margin-left: -2px;
    margin-top: -2px;
}

.commercial-store-home.catalog-mvp-customer-admin .main .toolbar-products .mvp-sort-option{
    display: flex;
    float: right;
    margin-right: 0px;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .commercial-store-home.catalog-mvp-customer-admin .main .toolbar-products .mvp-sort-option{
        display: block;
    }
}

.commercial-store-home.catalog-mvp-customer-admin .main .toolbar-products .mvp-sort-option .icon-list-grid-view{
    display: flex;
    cursor: pointer;
}
.commercial-store-home.catalog-mvp-customer-admin.catalogsearch-result-index .main .toolbar-products .mvp-sort-option .icon-list-grid-view{
    display: none;
}

.commercial-store-home.catalog-mvp-customer-admin .main .toolbar-sorter{
margin-right: 11px;
}

.commercial-store-home.catalog-mvp-customer-admin .main .toolbar-products .page-products .sorter-options{
height: 50px !important;
}

.catalog-mvp-customer-admin.commercial-store-home .products.wrapper ~ .toolbar .mvp-sort-option {
    display: none;    
}

.catalog-mvp-customer-admin.commercial-store-home .mvp-sort-option .page-products .sorter-options {
    margin: 0;
    background-color: #fff;
     padding: 11px 44px 9px 11px; 
    border-radius: 0;
    font-family: "FedEx Sans";
    font-size: 16px;
    font-weight: normal;
    size: 16px;
    line-height: 24px;
    color: #333333;
    height: 48px !important;
}

.catalog-mvp-customer-admin.commercial-store-home .mvp-sort-option .page-products .sorter-label {
    color: #333333 !important;
    margin-right: 3px;
}

.catalog-mvp-customer-admin.commercial-store-home .mvp-sort-option select{
    background: #FFFFFB url('../images/drop-down-icon.png') no-repeat 100% 52%;
}

.page-products .sorter-label {
    color: #333333 !important;
    font-family: "FedEx Sans Bold";
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.75px;
    line-height: 16px;
    padding-bottom: 8px;
    text-transform: uppercase;
    margin-right: 3px !important;
}

.categorypath-b2b-print-products.catalog-mvp-customer-admin.commercial-store-home .toolbar-sorter {
    display: none;
}
.cms-session-timeout #fcl-session-modal {
    display: none;
}


.catalog-mvp-customer-admin.customer-admin.catalog-category-view.catalog-mvp-shared-catalog .products-grid .sub-category .product-item-info {
    position: relative;
}

.catalog-mvp-customer-admin.customer-admin.catalog-category-view.catalog-mvp-shared-catalog .products-grid .sub-category .product-item-info .list-checkbox , .catalog-mvp-customer-admin.customer-admin.catalog-category-view.catalog-mvp-shared-catalog .products-grid .product-item-info .list-checkbox{
    position: absolute !important;
    top: 10px !important;
    left: 10px;
}

.catalog-mvp-customer-admin.page-layout-2columns-left.customer-admin.catalog-mvp-shared-catalog .products-grid .category-product .product-image-container, .catalog-mvp-customer-user.page-layout-2columns-left.catalog-mvp-shared-catalog .products-grid .category-product .product-image-container{
    top: 10px !important;
}

.kebab-image.product-grid {
    top: 30px !important;
  }

