<?xml version="1.0"?>
<!--
/**
 * Copyright © FedEx, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Disable Cart merge for SDE customer-->
    <event name="sales_quote_merge_before">
        <observer name="disable_cart_merge_for_sde" instance="Fedex\SDE\Observer\CartMerge" />
    </event>
</config>