<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<web>
			<bundling_howto_modal>
				<howto_block_identifier/>
                <title_step_one>Upload file</title_step_one>
                <description_step_one>Use the upload button on your product bundle allows you to add a file for that specific item.</description_step_one>
                <title_step_two>Edit and add to cart</title_step_two>
                <description_step_two>After uploading your file, make any necessary configurations and select Add to Cart to be returned to your bundle.</description_step_two>
                <title_step_three>Repeat to complete</title_step_three>
                <description_step_three>Repeat this process for each item in your bundle to access the bundle discount. Once completed, you can check out as usual.</description_step_three>
			</bundling_howto_modal>
		</web>
	</default>
</config>
