<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="fedex" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Settings</label>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General API Configuration</label>
                <field id="reorder_instance_api_url" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Reorder Instance API URL</label>                    
                </field>
            </group>
        </section>
    </system>
</config>
