.default-store .cart-summary {
    background-color: #F7F9FA !important;
}
.coupon {
   width: 100%;
   margin-top: 20px;
}
.coupon .field {
    margin: 0 !important;
}
.apply-after-promo-text {
    float: left;
    width: 100%;
}
.control .input-text.apply {
    box-sizing: border-box;
    border: 1px solid #979797;
    border-radius: 15px;
    background-color: #EBF0F2;
    box-sizing: border-box;
    height: 30px !important;
    color: #333333;
    font-family: "FedEx Sans Light";
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 19px;
    padding: 2px 0px 0px 10px;
}
.coupon.applied .field {
    display: inline-block;
    position: relative;
}
.cart-summary .discount>.title:after {
    content: "";
    color: #ffffff;
}
.discount .title {
    height: 50px;
}
.discount-heading {
    color: #0078B4;
    font-family: "FedEx Sans Bold";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.75px;
    line-height: 24px;
    text-transform: uppercase;
    vertical-align: middle;
}
.coupon.applied {
    width: 100%;
}
.apply-after-promo-text {
    float: left;
    width: 100%;
    color: #333333;
    font-family: "FedEx Sans Regular";
    font-size: 12px;
    letter-spacing: 0;
    line-height: 15px;
    text-transform: uppercase;
}
.applied .field {
    display: flex;
    width: 44%;
}

.applied .actions-toolbar {
    position: absolute;
    right: 20px;
    top: 3px;
}
.cancel-promo > .cancel {
    color: inherit;
    border: 1px solid #979797 !important;
    padding: 0px !important;
    margin: 0px !important;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: #979797 !important;
    font-weight: 300;
    font-style: normal;
    border-radius: 50% !important;
    height: 2.5rem;
    width: 2.5rem !important;
}
.cancel > span {
    font-size: 14px;
    padding: 3px;
    font-family: 'FedEx Sans Light';
    color:#333333;
}
.cancel-field {
    width: 100%;
    display: flex;
  
}
.cancel-field .control {
    width: 60%;
    display: inline-block;
}

.cancel-field .actions-toolbar {
    width: 60%;
    display: inline-block;
    position: relative;
}
.primary.apply-promo {
    width: 100%;
}
body:not(.promo-account) .action.apply.primary {
    border: 1px solid #FF6200 !important;
}
.action.apply.primary {
    box-sizing: border-box;
    position: absolute;
    width: calc(100% - 0px) !important;
    height: 40px;
    background-color: #FF6200 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}
.input-text.cancel:focus {
    box-shadow: none;
}
.input-text.cancel {
    border: 1px solid #6F7F87 !important;
    background-color: #FFFFFF;
    color: #333333;
    font-family: "FedEx Sans Light";
    font-size: 17px !important;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 25px;
}
.actions-toolbar>.apply-promo .action {
    padding: 0px  !important;
    background: #FF6200;
    border-color: #FF6200;
}
.primary.apply-promo span {
    color: #FFFFFF;
    font-family: "FedEx Sans Bold";
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 0px;
    text-align: center;
}
.cart-summary .discount>.title {
    padding: 0;
    border-top: none;
    display: table;
    width: 100%;
}
.control .input-text {
    height: 40px !important;
} 

.shipping-message-container.message-block .message-text {
    padding: 16px 16px 16px 22px; 
}

.shipping-message-container {
    margin-top: 15px;
}

.shipping-disclaimer-container.message-block .info-icon::before,
.shipping-message-container.message-block .info-icon::before {
    content: "";
    display: inline-block;
    content: url(../images/information.png);
}
@media only screen and (min-width: 1025px) {
    body.checkout-cart-index.marketplace-cart {
        .cart-container {
            .cart-summary {
                .block.discount {
                    &.discount-message,
                    &.combined-discount-message {
                        .message {
                            margin-left: -20px;
                            margin-right: -20px;
                        }
                    }
                }
            }
        }
    }
}
/* xl screen */
 @media screen and (max-width: 1024px){
    .discount-heading {
        font-size: 12px;
        text-align: center;
    }
    .cancel-field .actions-toolbar {
        width: 40%;
        margin-left: 10px;
    }
    .cancel-field .control {
        width: 100% !important;
    }

    .primary.apply-promo span {
        font-size: 13px;
    }
    .applied .field {
        width: 60%;
    }
    .cart-summary .block .fieldset .cancel-field:not(.choice)>.control {
        float: none;
        width: 60%;
    }
}
 /* large screen */
 @media screen and (max-width: 767px){
    .discount-heading {
        font-size: 12px;
        text-align: center;
    }
    .cancel-field {
        width: 100%;
    }
    
    .cancel-field .actions-toolbar {
        width: 50%;
        margin-left: 10px;
    }
    .cancel-field .control {
        width: 50%;
        margin-left: 0px;
    }
    .primary.apply-promo span {
        font-size: 12px;
    }
    .applied .field {
        width: 75%;
    }
    .cart-summary .block .fieldset .cancel-field:not(.choice)>.control {
        float: none;
        width: 60%;
    }

    .action.apply.primary {
        width: calc(100% - 18px) !important;
    }
}

 /* medium screen */
 @media screen and (max-width: 425px){
    discount-heading {
        text-align: center;
    }
    .cancel-field .actions-toolbar {
        width: 30%;
        margin-left: 10px;
    }
    .cancel-field .control {
        width: 70%;
        margin-left: 20px;
    }
    .coupon.applied {
        margin-left: 15px;
   }
   .applied .field {
    width: 25%;
 }
}
 /* mobile screen small */
 @media screen and (max-width: 375px){
    .discount-heading {
        text-align: center;
    }
    .cancel-field .actions-toolbar {
        width: 40%;
        margin-left: 10px;
    }
    .cancel-field .control {
        width: 55%;
        margin-left: 20px;
    }
    .coupon.applied {
        margin-left: 15px;
   }
   .applied .field {
    width: 30%;
 }
}
 /* mobile screen x-small*/
 @media screen and (max-width: 320px){
    .discount-heading {
        text-align: center;
    }
    .cancel-field .actions-toolbar {
        width: 50%;
        margin-left: 0px;
    }
    .cancel-field .control {
        width: 50%;
        margin-left: 15px;
    }
    .coupon.applied {
        margin-left: 15px;
   }
   .applied .field {
    width: 30%;
 }
}

#coupon-code-error {
    color:#FF0000;
    display:none;
    font-family: 'Fedex Sans Light';
}
#coupon-code-error-message {
    padding-top: 8px;
    font-size: 12px;
    font-family: 'FedEx Sans Regular';
    line-height: 16px;
    color: #E3002D;
    letter-spacing: normal;
    width: 100%;
    }
    .error-cross-icon {
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    width: 12px;
    height: 12px;
    cursor: pointer;
    }
/* D-77776 - Minicart Alingment issue only for epro */
.epro-fedex ~ .page-wrapper .panel.header-top{
    max-width: 1440px;
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.epro-fedex ~ .page-wrapper .panel.header-top .header-nav-pannel {
    display:block;
    padding: 0;
}
.epro-fedex ~ .page-wrapper .panel.header-top .block.block-search{
    position: absolute;
    right: -20px;
    top: 33px;
    width: 186px;
}
.epro-fedex ~ .page-wrapper .panel.header-top .block.block-search .input-text {
    padding: 0;
}
.epro-fedex ~ .page-wrapper .header.content .minicart-wrapper{
    position: relative !important;
    right: 205px !important;
}
