<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <storefront_features>
            <website_configuration>
                <service_url>https://catalog-service-sandbox.adobe.io/graphql</service_url>
            </website_configuration>
            <product_name_ellipsis_control>
                <enabled>1</enabled>
                <total_characters>56</total_characters>
                <start_characters>36</start_characters>
                <end_characters>20</end_characters>
            </product_name_ellipsis_control>
            <shared_catalog>
                <guest_catalog_id>3</guest_catalog_id>
            </shared_catalog>
        </storefront_features>
    </default>
</config>
