<!--@subject {{var email_subject}} @-->
{{inlinecss file="Fedex_Login::css/email-inline.css"}}
<div>
    <p class="email_verification_user_name">Hi, {{var customer_name}}</p>
    <p class="user_email_verification_email_body">
        Welcome to FedEx Office, To continue setting up your account, please
        verify your email address. This link will expire in {{var link_expiration_time}}.
    </p>
    <a href="{{var email_link}}">
        <button class="verify_email_address_button">Verify Email Address</button>
    </a>
</div>
