<!--
/**
 * Copyright © FedEx, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: (isVisible()) -->
<div class="actions-toolbar-trigger submit-orderr" id="place-order-trigger-wrapper">
    <button
        type="button"
        class="button action primary submit-btn"
        id="place-order-trigger"
        value="Place Order"
        data-testid="checkout-order-summary-button-submit-order">
        <span class="order-span">Submit Order</span>
    </button>
</div>
<!-- /ko -->
