<?xml version="1.0"?>
<!--
    /**
    * Copyright © Magento, Inc. All rights reserved.
    * See COPYING.txt for license details.
    */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
	<add id="Fedex_Shipment::shipment" title="Shipment Status" module="Fedex_Shipment" sortOrder="50" parent="Magento_Backend::stores_settings" action="shipment/shipment" resource="Fedex_Shipment::shipment"/>
    </menu>
</config>
