<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <product_engine>
            <general>
                <url>https://wwwtest.fedex.com/templates/components/apps/easyprint/content/staticProducts</url>
            </general>
        </product_engine>
    </default>
</config>
