<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/config.xsd">
    <default>
        <fedex>
            <marketplacewebhook>
                <webhook_duplicate_block_ttl>600</webhook_duplicate_block_ttl>
            </marketplacewebhook>
        </fedex>
    </default>
</config>
