<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- API Interfaces -->
    <preference for="Fedex\MarketplaceWebhook\Api\OrderWebhookInterface"
                type="Fedex\MarketplaceWebhook\Model\OrderWebhook"/>

    <preference for="Fedex\MarketplaceWebhook\Api\MiraklWebhookInterface"
                type="Fedex\MarketplaceWebhook\Model\MiraklWebhook"/>

    <preference for="Fedex\MarketplaceWebhook\Api\Data\CreateInvoiceMessageInterface"
                type="Fedex\MarketplaceWebhook\Model\Data\CreateInvoiceMessage"/>

</config>
