<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fedex>
            <non_standard_catalog_popup_model_replace_file_config>
                <replace_file_api_url>https://documentapitest.prod.fedex.com/document/fedexoffice/v2/documents</replace_file_api_url>
                <replace_file_max_limit_msg>Maximum number of files is limited to</replace_file_max_limit_msg>
                <replace_file_max_limit>50</replace_file_max_limit>
                <replace_file_text>For best results, use high-resolution files. Max files size: 150MB, Max file name length: 100</replace_file_text>
                <replace_file_name_length_msg>File name exceeds the maximum length of</replace_file_name_length_msg>
                <replace_file_name_length>100</replace_file_name_length>
                <replace_file_supported_types>png, pdf, jpg, jpeg, gif, bmp , ps, jpe, dib, jp2, jff, tiff, tif, psg, pg, doc, docx, rtf, txt, xls, xlsx, ppt, pptx</replace_file_supported_types>
                <replace_file_max_size_msg>File exceeds the maximum file size of</replace_file_max_size_msg>
                <replace_file_max_size>150</replace_file_max_size>
                <replace_file_expiration>30</replace_file_expiration>
                <replace_file_check_pdf>false</replace_file_check_pdf>
            </non_standard_catalog_popup_model_replace_file_config>
        </fedex>
    </default>
</config>
