<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Fedex\CoreApi\Client\AbstractApiClientInterface" type="Fedex\CoreApi\Client\AbstractApiClient" />
    <preference for="Fedex\CoreApi\Gateway\Http\TransferInterface" type="Fedex\CoreApi\Gateway\Http\Transfer"/>
</config>
