<?xml version="1.0"?>
<!--
/**
 * Copyright © FedEx, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Fedex_CIDPSG::psg_customers" title="PSG Customers" translate="title" module="Fedex_CIDPSG" sortOrder="60"
         parent="Magento_Customer::customer" action="psgcustomers/index/index" resource="Magento_Customer::psg_customers"/>
    </menu>
</config>
