<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="controller_action_predispatch_checkout_index_index">
		<observer name="add_credit_card_expiry_token" instance="Fedex\ExpressCheckout\Observer\Frontend\Checkout\AddCreditCardExpiryToken" />
	</event>
</config>
